.h1{
  margin: 0 0 50px 0;
}
.chu-mau-do {
  color: blueviolet;
}

.font-big {
  font-size: 50px;
}

.list {
  background: #ffffff
    url("https://imgt.taimienphi.vn/cf/Images/ddt/2017/6/26/anh-man-hinh-khoa-may-tinh-dien-thoai-sieu-dep-9.jpg")
    no-repeat right top;
  margin-right: 200px;
}

.decoration {
  text-decoration: underline blueviolet 1px;
}
.spacing {
  text-indent: 3px;
  letter-spacing: 1px;
  word-spacing: 10px;
  line-height: 50px;
}

.text-shadow {
  text-shadow: 3px 2px 5px #99ff00, 0 0 3px #0000ff;
}

.text-align {
  text-align: center;
}

.dotted {
  border-style: dotted;
  border-width: 10px;
  margin-top: 100px;
}
.dashed {
  border-style: dashed;
  border-color: #0000ff;
  border-bottom: groove;
}
.solid {
  border-style: solid;
  border-width: 5px;
  border-color: chartreuse;
}
.double {
  border-style: double;
  border-color: black;
  margin-top: 100px;
  margin-bottom: 120px;
  margin-right: 150px;
  margin-left: 100px;
  background-color: lightblue;
}
.groove {
  border-style: groove;
  border-width: 20px;
}
.ridge {
  border-style: ridge;
  border-radius: 15px;
  padding: 5px;
}
.inset {
  border-style: inset;
  border-top: outset;
  border-left: ridge;
  border-right: solid;
}
.outset {
  border-style: outset;
  border-left: 25px green groove;
}
.none {
  border-style: none;
}
.hidden {
  border-style: hidden;
}
.mix {
  border-style: dotted dashed solid double;
}
