* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.header {
  width: 100%;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.left-job {
  width: 30%;
  height: 276.6px;
}

.add {
  height: 50px;
  line-height: 50px;
  background-color: bisque;
}

.form {
  width: 100%;
  height: 200px;
  border: 1px solid bisque;
  padding: 10px 10px;
}
label {
  font-size: 20px;
  font-weight: 700;
}

.left-job .name {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}
.left-job select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}
.left-job .button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn_add {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: coral;
  color: white;
}
.btn_remove {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: red;
  color: white;
}

.right-job {
  width: 60%;
  height: 276.6px;
}

.right-job button {
  background-color: #0000ffc7;
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: white;
  padding: 0 5px;
  margin-bottom: 0;
}

.right-job .reduce {
  margin-left: 20px;
}
.main-input {
  width: 300px;
  height: 30px;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  font-weight: 700;
}

thead .stt {
  width: 50px;
}

thead .name {
  width: 300px;
}

thead .status {
  width: 150px;
}

thead .activity {
  width: 200px;
}
td {
  height: 50px;
  text-align: center;
}

.add-input {
  width: 90%;
  height: 70%;
}

tbody select {
  width: 90%;
  height: 70%;
}

tbody .status {
  display: flex;
  align-items: center;
  justify-content: center;
}
tbody .status p {
  border: 1px solid;
  width: 70px;
  font-size: 12px;
  background-color: #4caf50;
  color: white;
}

tbody .button {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

tbody .button button {
  padding: 0px 5px;
  text-align: center;
}

tbody .button .btn_add {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: coral;
  color: white;
}

tbody .button .btn_remove {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: red;
  color: white;
}
