* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: Josefin San, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  overflow-x: hidden;

  box-sizing: border-box;
}

/* .bs-container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  @media only screen and (max-width: 1350px) {
    width: 1170px;
  }

  @media only screen and (max-width: 1199px) {
    width: 970px;
  }
  @media only screen and (max-width: 991px) {
    width: 750px;
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
} */
/* HEADING */
.heading {
  width: 100%;
  height: 47px;
  background-color: black;
  color: yellow;
  display: flex;
  justify-content: flex-end;
}

.heading-one {
  line-height: 50px;
  margin-right: 139px;
}
.fa-brands {
  padding-right: 14px;
}
.fa-brands:hover {
  color: white;
}

/* TOP */
.top-navigation {
  position: relative;
}

.top-navigation::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  height: 128px;
  background: black;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%, 50% 78%);
}
.top a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.top-description {
  width: 100%;
  height: 97px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.76);
  line-height: 100px;
  position: absolute;
  top: 0;
}

.top-description img {
  width: 175px;
  height: 57px;
  margin-top: 22px;
  margin-left: 160px;
}

.top-description .top-ul {
  width: 62%;
  display: flex;
  gap: 49px;
  line-height: 106px;
}

.top-ul .subnav {
  width: 100px;
  height: 100%;
  position: relative;
}

.top-ul .subnav:hover {
  border-bottom: 5px solid yellow;
}

.top-ul .subnav:hover > .a {
  color: yellow;
}

.subnav .subnav-content {
  position: absolute;
  width: 100%;
  height: 330px;
  left: 0;
  top: 97px;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999;
  display: none;
}

.subnav .subnav-content a {
  padding-left: 14px;
}

.subnav .subnav-content a:hover {
  color: yellow;
}
.subnav:hover .subnav-content {
  display: block;
}

.top-decord {
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  transform: translate(40%, 550px);
}

.decord-text {
  width: 150px;
  height: 100px;
  font-size: 20px;
  text-align: end;
  padding-right: 11px;
  line-height: 105px;
}
.decord-logo {
  display: flex;
  top: -20px;
}
.logo1 {
  margin-left: 33px;
  margin-right: 10px;
  width: 160px;
  height: 91px;
  padding-left: 30px;
  padding-top: 30px;
  border: 1px solid yellow;
}

.logo2 {
  width: 136px;
  height: 90px;
  padding-left: 26px;
  padding-top: 5px;
  margin-right: 10px;
  border: 1px solid yellow;
}

.logo3 {
  width: 121px;
  height: 90px;
  padding-left: 7px;
  padding-top: 15px;
  border: 1px solid yellow;
  margin-right: 10px;
}

.logo4 {
  width: 127px;
  height: 90px;
  padding-left: 34px;
  padding-top: 15px;
  border: 1px solid yellow;
}

/* Main */
/* About */
.cart {
  display: flex;
  justify-content: flex-end;
}
.box {
  width: 600px;
  margin-right: 12px;
  margin-top: 17px;
}

.h3 {
  margin-top: 3px;
  height: 50px;
  border-left: 3px solid yellow;
  margin-bottom: 47px;
  display: flex;
}

.box .p {
  font-size: 16px;
  color: rgb(0, 42, 65);
  left: 136.032px;
  top: 929.898px;
  width: 100%;
  z-index: 427;
  line-height: 31px;
}

h3 {
  font-size: 46px;
  margin-left: 0px;
  padding-left: 13px;
  border-left: 8px solid yellow;
  line-height: 72px;
}

.h3-box {
  margin-top: 29px;
  margin-left: 35px;
  height: 2px;
  width: 276px;
  background-color: yellow;
}
.box p {
  line-height: 1.8;
  letter-spacing: 3px;
  font-size: 13px;
}

.about .box button {
  width: 163px;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  font-size: 13px;
  letter-spacing: 2px;
  background-image: linear-gradient(yellow, orange);
  color: white;
  left: 0;
  transform: translate(96%, 100%);
}

.button {
  font-size: 14.583px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2;
  position: absolute;
  left: 174.844px;
  top: 1136.608px;
  z-index: 434;
}

.about .box button:hover {
  background-image: linear-gradient(rgb(155, 168, 153), rgb(214, 218, 232));
}

.cart-thumbnail img {
  margin-top: -50px;
  margin-left: 36px;
  max-width: 720px;
  height: 540px;
}

/* Activity */
.activity {
  position: relative;
  margin-bottom: 110px;
}

.activity::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  height: 128px;
  background: black;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%, 50% 78%);
  transform: rotate(180deg);
}
.activity .title {
  position: absolute;
  width: 50%;
  top: 0;
}

.activity .title .h1 {
  transform: translate(69%, 83px);
  font-size: 45px;
  color: white;
}
.activity .activity-line {
  position: absolute;
  display: flex;
  top: 10%;
  width: 50%;
  transform: translateX(83%);
}
.activity .activity-line .activity-box {
  height: 2px;
  background-color: yellow;
  width: 126px;
  margin-top: 8px;
  margin-left: 5px;
}

.activity table {
  width: 1000px;
  margin: 0 auto;
  transform: translateY(-159px);
  box-shadow: -1px -1px 9px black, -1px -1px black;
}

table .top-table {
  display: flex;
  justify-content: space-around;
  height: 100px;
  line-height: 100px;
  border-top: 3px solid yellow;
  background-color: #ffffff8a;
}

.activity-td {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  line-height: 78px;
  border-left: 5px solid transparent;
}
.activity-td li {
  list-style: none;
}

.activity-td:hover {
  background-color: #f0ca9dcf;
  border-left: 5px solid yellow;
}

.activity .activity-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 27%;
}

.activity .activity-icon .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
}

.activity .activity-icon .icon i {
  color: yellow;
}
.activity .activity-icon .icon:hover {
  border: yellow;
  background-image: linear-gradient(to bottom, yellow, orange);
}
.activity .activity-icon .icon i:hover {
  color: white;
}

/* activity-image */
#activity-image {
  width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.first-img {
  width: 625px;
  height: 281px;
  margin-left: 45px;
}
.layer-image {
  width: 625px;
  height: 281px;
}
.layer-image .layer-img img {
  width: 618px;
  height: 281px;
}

/* candidates-list */
.candidates-list {
  margin-top: 15%;
  background-color: #7fffd421;
  position: relative;
  height: 1700px;
  margin-bottom: 120px;
}

.candidates-list::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  height: 120px;
  background-color: #7fffd421;
  clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%);
  transform: rotate(180deg);
}
.candid-title {
  width: 530px;
  margin: 0 auto;
  font-size: 47px;
}

.candidates-list .activity-line {
  display: flex;
  width: 300px;
  margin: 0 auto;
  transform: translateY(50px);
}
.candidates-list .activity-line .activity-box {
  height: 2px;
  background-color: yellow;
  width: 126px;
  margin-top: 8px;
  margin-left: 5px;
}
.candidates-list .text {
  width: 71%;
  margin: 0 auto;
  font-size: 16.667px;
  color: rgb(1, 45, 64);
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  transform: translateY(80px);
}

.candidates-list .sum-list {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transform: translateY(170px);
  gap: 60px;
}

.candidates-list .sum-list .item {
  width: 265px;
  height: 425px;
  text-align: center;
  background-color: white;
  box-shadow: 4px 4px 18px #7fffd4, -1px -1px 18px #7fffd4;
}
.item .cart-head {
  position: relative;
}
.item .cart-head p {
  width: 275px;
  position: absolute;
  font-size: 16px;
  line-height: 60px;
  font-weight: 600;
  color: white;
  top: 0;
}

.item .item-img {
  margin-top: -30px;
}

.item .item-detail {
  font-weight: 600;
}
.item .item-detail .list-button {
  width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.item-detail .list-button i {
  font-size: 30px;
  height: 18px;
}

.item-detail .list-button button {
  height: 35px;
  background-color: black;
  color: white;
}

.candidates-list::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
  height: 120px;
  background-color: #7fffd421;
  clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%);
}

/* Banner */
#banner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#banner .item {
  width: 240px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner .item img {
  object-fit: scale-down;
}
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl-carousel .owl-nav.disabled {
  position: absolute;
  top: 26%;
  right: -6%;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}
