.font-big {
  font-size: 20px;
}
.text-align {
  text-align: right;
}

.text-align-last {
  text-align-last: center;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  width: 50%;
  height: 50px;
  margin-right: 80px;
  margin-left: 390px;
}
.none {
  border-style: none;
}

.chu-do {
  margin-right: 100px;
  margin-left: 100px;
}
