* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.has-product {
  min-width: 500px;
}
.tab-cart {
  width: 1290px;
  height: 356px;
  padding-left: 20px;
}
.row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
}
.h5,
h5 {
  font-size: 1.25rem;
  font-family: "Times New Roman", Times, serif;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
  gap: 40px;
}
.cart-item {
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.panel {
  background-color: #f4f7fa;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.cart-item-detail {
  display: flex;
}
.counter-value {
  width: 63px;
  height: 21px;
}
.course-img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.course-img img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  padding: 15px 30px;
  width: calc(100% - 200px);
}
.cart-item-title {
  float: left;
  font-size: 1.2rem;
  width: 70%;
}
.cart-item-price {
  float: left;
  text-align: right;
  width: 30%;
}
.cart-item-promotion-price {
  color: #f99600;
  font-size: 1.2rem;
}
.old-price {
  color: #a2a2a2;
  text-decoration: line-through;
}
.btn-delete {
  margin-top: 10px;
}
.btn-remove-item {
  cursor: pointer;
}
.fa-regular,
.far {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
}
.clear {
  clear: both;
}
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.total-info {
  width: 320px;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}
#btn-move-to-payment {
  margin-top: 5px;
  width: 100%;
  background-color: blue;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.btn-blue {
  cursor: pointer;
  width: 293px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
  color: #fff;
  outline: 0;
  text-align: center;
  transition: 0.5s;
}
