* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contain {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  display: flex;
}

/* categories */
.categories {
  width: 20%;
  background-color: white;
  padding: 5px 5px;
  margin-top: 20px;
  border-radius: 10px;
}

.title {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.item-cate {
  display: flex;
  padding-left: 10px;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.item-cate:hover {
  color: red;
  font-weight: 600;
}

.item-cate .img {
  width: 24px;
  height: 24px;
  background-size: cover;
}

.item-cate .detail {
  font-size: 14px;
}

/* advertisement */
.advertisement {
  width: 60%;
  margin-left: 20px;
}

.more {
  margin-top: 20px;
  display: flex;
  height: 40px;
  gap: 20px;
  align-items: center;
}

.more a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.big-one {
  margin-top: 10px;
}
