.summer-sale {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #ffc6ac;
  border-radius: 10px;
  margin-bottom: 20px;
}

.summer-sale a {
  text-decoration: none;
  color: black;
}

.sale-space {
  width: 100%;
  height: 130px;
  margin: 0 auto;
}

.sale-space img {
  width: 100%;
  height: 100%;
}

.global-sale {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.sale-item {
  width: 140px;
  height: 183px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sale-item .item-img {
  position: relative;
  width: 120px;
  height: 120px;
}

.sale-item .over-out {
  width: 120px;
  height: 120px;
  position: absolute;
  background-color: #0000002b;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: none;
}

.sale-item .item-img:hover .over-out {
  display: block;
}

.sale-item .discount {
  width: 100%;
  position: relative;
}

.sale-item .item-discount {
  width: 70px;
  height: 25px;
  background-color: red;
  font-size: 16px;
  color: white;
  text-align: center;
  border-radius: 20px;
  line-height: 25px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -30px;
}

.sale-item .name {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 10px !important;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 1170px;
  }

  .global-sale {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
}
