@media only screen and (max-width: 2560px) {
  .container {
    max-width: 1800px;
    width: 1780px;
  }
  header {
    width: 100%;
    height: 100px;
    background-color: black;
  }
  header .item {
    width: 200px;
    height: 48px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }
  header .item i {
    color: yellow;
    font-size: 30px;
  }
  /* TOP */
  .top {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 0;
  }
  .top img {
    width: 300px;
    height: 110px;
    margin-top: 45px;
  }
  .top-option {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    font-size: 28px;
    line-height: 201px;
    font-weight: 600;
  }
  .top-banner {
    position: absolute;
    width: 100%;
    bottom: 225px;
  }
  .top-banner .banner-text {
    font-size: 45px;
  }
  .top-banner .item {
    height: 200px;
  }
  .top-banner .banner-img {
    width: 250px;
  }
  .top-banner .banner-img img {
    width: 160px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -49px;
    height: 210px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 28%, 50.5% 100%, 100% 28%, 100% 0%, 50.5% 76%);
  }
  /* about */
  .about {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .about .first-img {
    width: 100%;
    height: 700px;
  }
  .about .first-img img {
    width: 100%;
    height: 100%;
  }
  .about .heading h2 {
    width: 50%;
    line-height: 100px;
    font-size: 75px;
  }
  .about .heading {
    height: 100px;
  }
  .about .heading .line {
    width: 400px;
    height: 8px;
    background-color: yellow;
    margin-top: 50px;
  }
  .about .description .text {
    font-size: 25px;
    line-height: 45px;
    font-weight: 600;
  }
  .about button {
    width: 250px;
    height: 100px;
    border-radius: 50px;
    border-style: none;
    font-size: 26px;
    letter-spacing: 2px;
    background-image: linear-gradient(yellow, orange);
    color: white;
    font-weight: 600;
    margin-top: 200px;
  }
  /* activity */
  .activity {
    position: relative;
    height: 2600px;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -52px;
    height: 225px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%, 50.5% 76%);
    transform: rotate(180deg);
  }
  .activity .content {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
  }
  .content .act-line {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .activity .content h1 {
    font-size: 99px;
    color: white;
  }
  .act-line img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .content table {
    width: 2000px;
  }
  table .title-table {
    font-size: 45px;
    height: 200px;
  }
  table .activity-td {
    height: 130px;
    background-color: white;
    font-size: 35px;
    font-weight: 600;
    border-left: 5px solid transparent;
  }
  .content .act-icon {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .content .act-icon .icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
  }
  .content .act-icon .icon i {
    color: yellow;
    font-size: 24px;
  }
  .activity .act-image {
    margin-top: 80px;
  }
  /* list */
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .list {
    position: relative;
    background-color: #7fffd42e;
    margin-bottom: 200px;
  }
  .list h2 {
    font-size: 100px;
  }
  .list-line {
    width: 500px;
  }
  .list-line img {
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
  }
  .list .text {
    width: 100%;
    margin-top: 50px;
    font-size: 45px;
  }
  .list .item {
    width: 500px;
    position: relative;
    margin: 0 auto;
    height: 780px;
    background-color: white;
    margin-bottom: 30px;
  }
  .cart-head img {
    width: 100%;
  }
  .list p {
    font-size: 40px;
    font-weight: 600;
    line-height: 107px;
  }
  .sum-list .item-img {
    width: 100%;
  }
  .item-img img {
    width: 100%;
    height: 100%;
  }
  .sum-list .item-detail {
    width: 100%;
    position: absolute;
    bottom: 126px;
  }
  .sum-list .item-detail .list-button {
    height: 108px;
  }
  .sum-list .item-detail .cart-detail {
    font-weight: 600;
    font-size: 35px;
  }
  .list-button i {
    margin-top: -18px;
    padding-bottom: 62px;
  }
  .fa-caret-up:before {
    content: "\f0d8";
    font-size: 99px;
  }
  .item-detail .list-button button {
    width: 207px;
    height: 73px;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-size: 32px;
  }
  /* footer */
  footer {
    position: relative;
    width: 100%;
    height: 470px;
    background-image: url(../img/2205638.png);
    background-repeat: no-repeat;
    margin-top: 130px;
    background-position: bottom;
    background-size: cover;
  }
  footer::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -44px;
    height: 212px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%, 50.5% 76%);
    transform: rotate(180deg);
  }
  .footer img {
    width: 478px;
    height: auto;
    padding-top: 0;
    padding-bottom: 40px;
  }
  .footer .text {
    color: white;
    margin-top: 45px;
    font-size: 36px;
    font-weight: 400;
  }
  .option,
  .last-img {
    display: none;
  }
}
