* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Bold.ttf");
  font-weight: 700;
}
body {
  overflow-x: hidden;
  /* max-width: 1400px;
  margin: 0 auto; */
}
body a {
  text-decoration: none;
  color: black;
  overflow-x: hidden;
}
body a:hover {
  color: yellow;
}
.container {
  width: 1429px;
}
/* header */
header {
  width: 100%;
  height: 50px;
  background-color: black;
}
header .item {
  width: 200px;
  height: 48px;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 76px;
}
header a {
  padding-right: 18px;
}
header .item i {
  color: yellow;
}
/* header-top */
.header-top {
  position: relative;
}
.header-top img {
  width: 100%;
}
.banner-img img {
  width: unset;
}
.top {
  width: 100%;
  height: 89px;
  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  top: 0;
}
.top img {
  width: 164px;
  height: 49px;
  margin-top: 20px;
  margin-left: 84px;
}
.top-option {
  width: 100%;
  height: 89px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  line-height: 92px;
  font-weight: 600;
}
.top-option .item {
  width: 100%;
}
.top-option .item:hover {
  color: yellow;
  border-bottom: 7px solid yellow;
}
.top-option .item-more {
  width: 160px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 89px;
}
.top-option .item-more {
  display: none;
}
.top-option .item:hover > .item-more {
  display: block;
}
.top-option .item-more .more {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* top-banner */
.top-banner {
  position: absolute;
  width: 100%;
  bottom: 105px;
  left: 50px;
}
.top-banner .item {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
}
.top-banner .banner-text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.top-banner .banner-img {
  width: 149px;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid yellow;
}
.header-top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -28px;
  height: 126px;
  background: black;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 28%, 50.5% 100%, 100% 28%, 100% 0%, 50.5% 76%);
}
.multiple-items {
  width: 100%;
  display: flex;
  gap: 20px;
}

/* Main */
/* about */
.about {
  position: relative;
  margin-top: 30px;
}
.about .heading {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  border-left: 3px solid yellow;
  margin-left: 81px;
}
.about .heading h2 {
  width: 47%;
  height: 100%;
  font-size: 46px;
  border-left: 7px solid yellow;
  margin-left: 3px;
  line-height: 43px;
  padding-left: 17px;
  font-weight: 600;
}
.about .heading .line {
  width: 290px;
  height: 2px;
  background-color: yellow;
  margin-top: 25px;
}
.about .description {
  width: 100%;
  height: 275px;
  padding-top: 31px;
  margin-left: 83px;
  position: relative;
  word-spacing: -1px;
}
.about .description .text {
  width: 569px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
}
.about button {
  width: 154px;
  height: 45px;
  border-radius: 50px;
  border-style: none;
  font-size: 14px;
  letter-spacing: 1px;
  background-image: linear-gradient(to top, orange, yellow);
  color: white;
  font-weight: 600;
  margin-left: 80px;
  margin-top: -7px;
  box-shadow: 15px 0px 15px rgb(0 0 0 / 15%);
}
.about .first-img {
  padding-left: 31px;
  margin-top: -72px;
  width: 108%;
  height: 100%;
}
.first-img img {
  width: 100%;
  height: 100%;
}
/* activity */
.activity {
  position: relative;
  height: 1446px;
  margin-top: -11px;
}
.activity .act-img img {
  width: 100%;
}
.activity::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -25px;
  height: 126px;
  background: black;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 28%, 50% 100%, 100% 28%, 100% 0%, 50.5% 76%);
  transform: rotate(180deg);
}
.activity .content {
  width: 100%;
  position: absolute;
  top: 6%;
  text-align: center;
}
.activity .content h1 {
  font-size: 45px;
  padding-left: 37px;
  color: white;
  padding-bottom: 10px;
}
.content .act-line {
  width: 500px;
  height: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: -2px;
}
.content .act-line .line {
  width: 100px;
  height: 2px;
  background-color: yellow;
  margin-top: 7px;
}
.act-line img {
  padding-left: 10px;
  padding-right: 5px;
}
.content table {
  width: 945px;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  border-collapse: collapse;
}
table .title-table {
  height: 95px;
  border-top: 3px solid yellow;
  background-color: #1e17018f;
  font-size: 18px;
  border-left: transparent;
  color: #ffffff;
}
.title-table th {
  padding-left: 9px;
}
table .activity-td {
  height: 61px;
  background-color: white;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  border-left: 5px solid transparent;
}
table .activity-td2 {
  height: 59px;
  background-color: #f4eae0;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  border-left: 5px solid transparent;
}
.activity-td td {
  padding-left: 45px;
}
.activity-td2 td {
  padding-left: 45px;
}
table tbody tr:hover {
  border-left: 5px solid yellow;
}
.content .act-icon {
  width: 98px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 6px;
  padding-top: 0px;
  justify-content: space-around;
}
.content .act-icon .icon {
  width: 33px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff700;
  border-radius: 6px;
}
.hover-anh {
  display: block;
}
.anh-an {
  display: none;
}
.icon:hover {
  background-image: linear-gradient(yellow, orange);
}
.icon:hover .hover-anh {
  display: none;
}
.icon:hover .anh-an {
  display: block;
}
.activity .act-image {
  margin-top: 41px;
}
.act-image .owl-carousel .owl-nav.disabled {
  display: none;
}
.act-image .item {
  width: 100%;
}
/* list */
.list {
  height: 100%;
  position: relative;
  background-color: rgba(238, 253, 255);
  margin-top: 6px;
  margin-bottom: 173px;
}
.list h2 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 41px;
  letter-spacing: 1px;
  padding-left: 11px;
}
.list-line {
  width: 300px;
  height: 15px;
  margin: 0 auto;
  display: flex;
  margin-top: -5px;
}
.list-line .line {
  width: 53%;
  height: 2px;
  background-color: yellow;
  margin: 0 auto;
  margin-top: 5px;
}
.list .text {
  width: 78%;
  text-align: center;
  margin: 0 auto;
  margin-top: 29px;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 69px;
}
.list .sum-list {
  max-width: 1134px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 20px;
}
.cart-head {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cart-head img {
  z-index: 1;
  width: 100%;
}
.list .item {
  width: 259px;
  position: relative;
  margin: 0 auto;
  height: 418px;
  background-color: white;
  margin-bottom: 12px;
  box-shadow: 0 0 25px rgb(0 39 62 / 20%);
}
.list p {
  position: absolute;
  top: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 59px;
  z-index: 1;
  letter-spacing: 2px;
}
.sum-list .item-img {
  position: absolute;
  top: 34px;
  margin-left: 7px;
  width: 241px;
  height: 259px;
}
.item-img img {
  width: 100%;
  height: 100%;
}
.sum-list .item-detail {
  width: 100%;
  position: absolute;
  bottom: 15px;
  height: 100px;
  text-align: center;
}
.sum-list .item-detail .cart-detail {
  font-size: 14px;
  font-weight: 600;
  word-spacing: 0px;
  padding-top: 3px;
}
.sum-list .item-detail .list-button {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fa-solid,
.fas {
  height: 18px;
  font-weight: 900;
}
.fa-caret-up:before {
  content: "\f0d8";
  font-size: 30px;
}
.item-detail .list-button button {
  width: 110px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0 auto;
}
.list::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -85px;
  height: 84px;
  background: #7fffd478;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 0%, 50.5% 100%, 100% 3%, 100% 0%, 50.5% 0%);
  transform: rotate(180deg);
  box-shadow: rgba(238, 253, 255);
}
.list::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -120px;
  height: 120px;
  background: #7fffd478;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 0%, 50.5% 100%, 100% 3%, 100% 0%, 50.5% 0%);
}
/* banner */
.banner {
  position: relative;
}
.banner .item {
  display: flex;
  justify-content: center;
  margin: 4px auto;
  width: 114px;
  height: 110px;
  flex-direction: column;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  align-items: center;
  background-color: white;
}
#banner {
  width: 87%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.owl-carousel .owl-nav.disabled {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.owl-nav.disabled button span {
  font-size: 50px;
  color: #a51f1f;
}
/* footer */
footer {
  width: 100%;
  height: 278px;
  margin-top: 38px;
  position: relative;
}
footer .background {
  max-width: 100%;
  height: 100%;
  position: absolute;
}
footer .layout {
  width: 100%;
  height: 298px;
  position: absolute;
  z-index: 2;
  top: -20px;
}
footer .icon {
  position: absolute;
  width: 226px;
  height: 72px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 38%;
}
footer .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 79%;
}
footer p {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 84%;
  color: white;
  text-align: center;
}
.option,
.last-img {
  display: none;
}

@media only screen and (max-width: 1496px) {
  .first-img img {
    width: unset;
    height: 100%;
  }
  .about {
    position: relative;
    margin-top: 50px;
  }
  .about .heading h2 {
    width: 60%;
  }
  .option,
  .last-img {
    display: none;
  }
}
@media only screen and (max-width: 1440px) {
  .first-img img {
    width: 100%;
    height: 100%;
  }
  .about {
    position: relative;
    margin-top: 50px;
  }
  .about .heading h2 {
    width: 60%;
  }
  .option,
  .last-img {
    display: none;
  }
}
@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
  .option,
  .last-img {
    display: none;
  }
  .top-banner {
    position: absolute;
    width: 100%;
    bottom: 75px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -28px;
    height: 126px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 40%, 50.5% 100%, 100% 40%, 100% 0%, 50.5% 76%);
  }
  .about {
    position: relative;
    margin-top: 40px;
  }
  .about .heading h2 {
    width: 80%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 3px;
    line-height: 50px;
    padding-left: 20px;
    font-weight: 600;
  }
  .about .heading .line {
    width: 330px;
  }
  .about img {
    width: 90%;
    object-fit: cover;
  }
  .about .description {
    padding-top: 28px;
  }
  .about .description .text {
    width: 500px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
  }
  .about button {
    margin-left: 80px;
    margin-top: 10px;
  }
  .activity {
    height: 1330px;
    margin-top: 50px;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -25px;
    height: 151px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50.5% 76%);
    transform: rotate(180deg);
  }
  .activity .content {
    top: 5%;
  }
  .content .act-line {
    margin-bottom: 50px;
  }
  .act-image .image {
    top: -12px;
    left: 32px;
  }
  .content table {
    width: 1000px;
    margin: 0 auto;
  }
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #banner .owl-nav.disabled {
    width: 1180px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  footer {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .option,
  .last-img {
    display: none;
  }
  .top-option {
    font-size: 16px;
  }
  .top-banner .banner-img {
    width: 130px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
  }
  .about img {
    width: 107%;
  }
  .about {
    margin-top: 60px;
  }
  .about .description {
    padding-top: 30px;
  }
  .about .description .text {
    max-width: 90%;
    font-size: 12px;
  }
  .about .heading h2 {
    width: 80%;
    height: 100%;
    font-size: 42px;
  }
  .about .heading .line {
    width: 250px;
  }
  .activity::before {
    height: 141px;
  }
  .activity {
    height: 1250px;
    margin-top: 90px;
  }
  .content .act-line {
    width: 500px;
    height: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }
  .activity .content h1 {
    font-size: 30px;
    padding-left: 37px;
    color: white;
  }
  #act-image .owl-nav {
    display: none;
  }
  .list {
    position: relative;
    background-color: #7fffd42e;
    margin-top: 123px;
    margin-bottom: 200px;
  }
  .list .text {
    width: 87%;
  }
  #banner .owl-nav.disabled {
    width: 100%;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-nav {
    position: absolute;
    top: -5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .owl-nav button span {
    font-size: 66px;
    color: #c90005;
  }
  .banner .item {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    width: 120px px;
    height: 110px;
    flex-direction: column;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    align-items: center;
    background-color: white;
  }
  footer {
    width: 100%;
    height: 260px;
    margin-top: 38px;
    position: relative;
  }
  footer .layout {
    height: 279px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .last-img {
    display: none;
  }
  .act-image .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .top-option {
    display: none;
  }
  .top-banner {
    display: none;
  }
  .option {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header-top::after {
    height: 104px;
    bottom: -20px;
  }
  .option .open {
    position: absolute;
    right: 15%;
    top: 35%;
    font-size: 24px;
  }
  .option .option-content {
    width: 330px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -330px;
    z-index: 1;
    transition: 1s;
  }
  .option-content .close {
    top: 4px;
    position: relative;
    font-size: 24px;
    left: 90%;
  }
  .option-content .content {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
    padding-left: 20px;
  }
  .option-banner .title {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
    padding-left: 20px;
  }
  .option-logo {
    width: 100%;
    padding-left: 80px;
  }
  .option-logo .item {
    width: 150px;
    height: 100%;
  }
  .option-logo .item img {
    width: 100%;
    height: 100%;
  }
  .about .heading h2 {
    width: 100%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 3px;
    line-height: 50px;
    padding-left: 6px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 30px;
  }
  .about .description {
    width: 90%;
    height: 340px;
    padding-top: 5px;
  }
  .about .description .text {
    font-size: 12px;
    line-height: 25px;
  }
  .about img {
    width: 370px;
    height: 360px;
  }
  .activity {
    height: 1250px;
  }
  .activity::before {
    height: 103px;
  }
  .activity .content {
    top: 3%;
  }
  .act-image .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .list .text {
    width: 100%;
  }
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content table {
    width: 90%;
  }
  .content .act-line {
    margin-bottom: 8px;
  }
  #banner .owl-nav.disabled {
    width: 110%;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
  }
  footer {
    margin-top: 50px;
    height: 215px;
  }
  footer .layout {
    height: 234px;
  }
}
@media only screen and (max-width: 769px) {
  .container {
    width: 100%;
  }
  .top {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 0;
  }
  .top img {
    width: 135px;
    height: 40px;
    margin-top: 10px;
  }
  .header-top::after {
    height: 72px;
    bottom: -20px;
  }
  .option .open {
    position: absolute;
    right: 15%;
    top: 20%;
    font-size: 24px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -23px;
    height: 79px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 40%, 50.5% 100%, 100% 40%, 100% 0%, 51.5% 62%);
  }
  .about img {
    width: 80%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .about .heading h2 {
    width: 67%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 1px;
    line-height: 50px;
    padding-left: 0px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 33px;
  }
  .about .description {
    width: 90%;
    height: 240px;
    padding-top: 5px;
  }
  .about .description .text {
    font-size: 13px;
    line-height: 24px;
  }
  .first-img {
    display: none;
  }
  .last-img {
    display: block;
  }
  .about button {
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .act-image .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .activity .content h1 {
    font-size: 25px;
    color: white;
    padding-bottom: 0px;
  }
  .activity {
    height: 1010px;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -25px;
    height: 94px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50.5% 55%);
    transform: rotate(180deg);
  }
  .activity .content {
    top: 3%;
  }
  .content .act-line {
    margin-bottom: 10px;
  }
  .content .act-line .line {
    width: 69px;
    height: 2px;
    background-color: yellow;
  }
  table .title-table {
    height: 68px;
    border-top: 3px solid yellow;
    background-color: #1e17018f;
    font-size: 16px;
    border-left: transparent;
    color: #ffffff;
  }
  table .activity-td {
    height: 50px;
    background-color: #f4eae0;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    border-left: 5px solid transparent;
    white-space: nowrap;
  }
  table .activity-td2 {
    height: 50px;
    background-color: white;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    border-left: 5px solid transparent;
    white-space: nowrap;
  }
  .list .text {
    width: 100%;
  }
  .act-image .image img {
    width: 100px;
    height: 42px;
    margin-top: 34px;
    margin-bottom: 12px;
    margin-left: -51px;
  }
  .act-image .image .san {
    font-size: 10px;
    margin-left: -29px;
  }
  .act-image .image .bat {
    font-size: 12px;
    margin-left: -40px;
  }
  .banner .item {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    width: 90px;
    height: 102px;
    flex-direction: column;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    align-items: center;
    background-color: white;
  }
  .owl-nav button span {
    font-size: 52px;
    color: #c90005;
  }
  #banner .owl-nav.disabled {
    width: 110%;
  }
  footer {
    width: 100%;
    height: 200px;
    margin-top: 100px;
  }
  footer .layout {
    height: 221px;
  }
  footer .icon {
    position: absolute;
    width: 195px;
    height: 59px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 28%;
  }
  footer .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 72%;
    width: 70%;
  }
  footer p {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 80%;
    color: white;
    text-align: center;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  header .item {
    width: 200px;
    height: 48px;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .item i {
    padding-left: 20px;
  }
  .top {
    height: 40px;
  }
  .top img {
    width: 102px;
    height: 33px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .option .open {
    position: absolute;
    right: 15%;
    top: 4%;
    font-size: 24px;
  }
  .option .option-content {
    width: 150px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -150px;
    z-index: 1;
    transition: 1s;
  }
  .option-content .close {
    left: 80%;
  }
  .option-content .content {
    font-size: 18px;
    height: 50px;
  }
  .option-logo {
    width: 100%;
    padding-left: 35px;
  }
  .option-logo .item img {
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -18px;
    height: 75px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50.5% 100%, 100% 50%, 100% 0%, 51.5% 48%);
  }
  .about .description {
    height: 260px;
  }
  .about .heading h2 {
    width: 45%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 3px;
    line-height: 50px;
    padding-left: 10px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 30px;
  }
  .about .heading .line {
    width: 150px;
  }
  .about .description .text {
    font-size: 14px;
  }
  .about button {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .activity {
    height: 850px;
  }
  .activity .content {
    top: 2%;
  }
  .activity .content h1 {
    font-size: 25px;
  }
  .content .act-line {
    width: 192px;
  }
  .act-image .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .content table {
    overflow: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  table .title-table {
    height: 40px;
    border-top: 3px solid yellow;
    background-color: #ffffff42;
    font-size: 14px;
  }
  table .activity-td {
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  table .activity-td2 {
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .activity-td2 td {
    padding-left: 0px;
  }
  table .activity-td td {
    width: 150px;
    padding: 0px 50px 0px 50px;
    white-space: nowrap;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -21px;
    height: 70px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50.5% 55%);
    transform: rotate(180deg);
  }
  .content .act-line {
    margin-bottom: 10px;
  }
  .list {
    margin-top: 120px;
  }
  .list h2 {
    font-size: 38px;
  }
  .list .text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .list-line {
    width: 250px;
  }
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .act-image .image {
    position: absolute;
    width: 200px;
    height: 190px;
    top: 23px;
    left: 35px;
  }
  .act-image .image img {
    width: 140px;
    height: 70px;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: -51px;
  }
  .act-image .image .san {
    font-size: 14px;
    margin-left: -27px;
  }
  .act-image .image .bat {
    font-size: 18px;
    margin-left: -27px;
  }
  .owl-nav {
    position: absolute;
    top: 76%;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
  footer {
    height: 170px;
  }
  footer .layout {
    height: 186px;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    width: 100%;
  }
  header {
    width: 100%;
    height: 40px;
    background-color: black;
  }
  header .item {
    width: 200px;
    height: 40px;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  header a {
    padding-right: 1px;
  }
  header .item i {
    padding-left: 20px;
  }
  .top {
    height: 40px;
  }
  .top img {
    width: 95px;
    height: 28px;
    margin-top: 6px;
    margin-left: 30px;
  }
  .option .open {
    position: absolute;
    right: 15%;
    top: 4%;
    font-size: 24px;
  }
  .option .option-content {
    width: 150px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -330px;
    z-index: 1;
    transition: 1s;
  }
  .option-content .close {
    left: 80%;
  }
  .option-content .content {
    font-size: 18px;
    height: 50px;
  }
  .option-logo {
    width: 100%;
    padding-left: 35px;
  }
  .option-logo .item img {
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -18px;
    height: 45px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50.5% 100%, 100% 50%, 100% 0%, 51.5% 48%);
  }
  .about .heading {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-left: 3px solid yellow;
    margin-left: 0px;
  }
  .about .description {
    height: 300px;
    margin-left: 0px;
  }
  .about .heading h2 {
    width: 60%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 3px;
    line-height: 50px;
    padding-left: 10px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 30px;
  }
  .about .heading .line {
    width: 150px;
  }
  .about .description .text {
    max-width: 100%;
    font-size: 12px;
  }
  .about button {
    margin-top: -34px;
    margin-bottom: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-left: 0;
  }
  .last-img {
    display: block;
    margin-top: 30px;
  }
  .activity {
    height: 975px;
  }
  .activity .act-img img {
    width: 100%;
    height: 143px;
  }
  .act-image .item img {
    max-width: 100%;
    height: 100%;
  }
  .activity .content {
    top: 2%;
  }
  .activity .content h1 {
    font-size: 22px;
    padding-top: 10px;
  }
  .act-line img {
    padding-left: 4px;
    padding-right: 0px;
    width: 20px;
    height: 10px;
  }
  .content .act-line .line {
    width: 69px;
    height: 2px;
    background-color: yellow;
    margin-top: 4px;
  }
  .content .act-line {
    width: 192px;
  }
  .content table {
    overflow: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  table .title-table {
    height: 50px;
    border-top: 3px solid yellow;
    background-color: #ffffff42;
    font-size: 16px;
  }
  table .activity-td {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  table .activity-td2 {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  table .activity-td td {
    width: 150px;
    padding: 0px 50px 0px 50px;
    white-space: nowrap;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -17px;
    height: 68px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50.5% 55%);
    transform: rotate(180deg);
  }
  .act-image .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .content .act-line {
    margin-bottom: 10px;
  }
  .list {
    margin-top: 120px;
  }
  .list h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .list .text {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .list-line {
    width: 250px;
  }
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .list .item {
    width: 234px;
    position: relative;
    margin: 0 auto;
    height: 361px;
    background-color: white;
    margin-bottom: 12px;
    box-shadow: 0 0 25px rgb(0 39 62 / 20%);
  }
  .sum-list .item-img {
    position: absolute;
    top: 34px;
    margin-left: 7px;
    width: 218px;
    height: 228px;
  }
  .sum-list .item-detail {
    width: 100%;
    position: absolute;
    bottom: -4px;
    height: 100px;
    text-align: center;
  }
  .sum-list .item-detail .cart-detail {
    font-size: 12px;
    font-weight: 600;
    word-spacing: 0px;
    padding-top: 5px;
  }
  .sum-list .item-detail .list-button {
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .item-detail .list-button button {
    width: 90px;
    height: 60px;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-size: 14px;
  }
  .banner .item {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    width: 91px;
    height: 91px;
    flex-direction: column;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    align-items: center;
    background-color: white;
  }
  .owl-nav {
    position: absolute;
    top: 76%;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
  .owl-nav button span {
    font-size: 50px;
    color: #c90005;
  }
  footer {
    height: 120px;
  }
  footer .layout {
    height: 139px;
  }
  footer .icon {
    width: 110px;
    height: 39px;
    top: 30%;
  }
  footer p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 330px) {
  .container {
    width: 100%;
  }
  header .item {
    width: 126px;
    height: 48px;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header a {
    padding-right: 0px;
  }
  header .item i {
    padding-left: 20px;
  }
  .top {
    height: 30px;
  }
  .top img {
    width: 70px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .option .open {
    position: absolute;
    right: 15%;
    top: 4%;
    font-size: 18px;
  }
  .about .heading {
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }
  .option .option-content {
    width: 150px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -330px;
    z-index: 10;
    transition: 1s;
  }
  .option-content .close {
    left: 80%;
  }
  .option-content .content {
    font-size: 18px;
    height: 50px;
  }
  .option-logo {
    width: 100%;
    padding-left: 35px;
  }
  .option-logo .item img {
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
  }
  .header-top::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -18px;
    height: 45px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50.5% 100%, 100% 50%, 100% 0%, 51.5% 48%);
  }
  .about .description {
    height: 250px;
    margin: 0 auto;
  }
  .about .heading h2 {
    width: 50%;
    height: 100%;
    border-left: 7px solid yellow;
    margin-left: 3px;
    line-height: 39px;
    padding-left: 10px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 24px;
  }
  .about .heading .line {
    width: 120px;
    margin-top: 18px;
  }
  .about .description .text {
    font-size: 12px;
    line-height: 20px;
  }
  .about button {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .last-img {
    display: block;
    margin-top: 60px;
  }
  .activity {
    height: 970px;
  }
  .activity .act-img img {
    height: 110px;
  }
  .activity .content {
    top: 2%;
  }
  .activity .content h1 {
    font-size: 25px;
  }
  .content .act-line {
    width: 192px;
  }
  .content table {
    overflow: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
  }
  table .title-table {
    height: 50px;
    border-top: 3px solid yellow;
    background-color: #ffffff8a;
    font-size: 14px;
    color: black;
  }
  table .activity-td td {
    width: 150px;
    padding: 0px 50px 0px 50px;
    white-space: nowrap;
  }
  .activity::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -14px;
    height: 53px;
    background: black;
    opacity: 0.3;
    clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50.5% 55%);
    transform: rotate(180deg);
  }
  .act-image .image {
    position: absolute;
    width: 104px;
    height: 190px;
    top: 1px;
    left: 72px;
  }
  .act-image .image img {
    width: 91px;
    height: 40px;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: -94px;
  }
  .act-image .image .san {
    font-size: 10px;
    margin-left: -70px;
  }
  .act-image .image .bat {
    font-size: 12px;
    margin-left: -68px;
  }
  .content .act-line {
    margin-bottom: 10px;
  }
  .list .item {
    width: 234px;
    position: relative;
    margin: 0 auto;
    height: 330px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 0 25px rgb(0 39 62 / 20%);
  }
  .list p {
    position: absolute;
    top: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;
    z-index: 1;
  }
  .sum-list .item-img {
    position: absolute;
    top: 40px;
    margin-left: 13px;
    width: 208px;
    height: 207px;
  }
  .sum-list .item-detail {
    width: 100%;
    position: absolute;
    bottom: -21px;
    height: 100px;
    text-align: center;
  }
  .sum-list .item-detail .cart-detail {
    font-weight: 600;
    font-size: 12px;
  }
  .fa-solid,
  .fas {
    height: 14px;
    font-weight: 900;
  }
  .item-detail .list-button button {
    width: 94px;
    height: 26px;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-size: 12px;
  }
  .sum-list .item-detail .list-button {
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .list {
    margin-top: 120px;
  }
  .list h2 {
    font-size: 28px;
  }
  .list .text {
    font-size: 10px;
    margin-bottom: 30px;
  }
  .list-line {
    width: 250px;
  }
  .list-line img {
    width: 23px;
    height: 12px;
  }
  .list-line .line {
    width: 100px;
  }
  .list .sum-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner .item {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    width: 85px;
    height: 110px;
    flex-direction: column;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    align-items: center;
    background-color: white;
  }
  footer {
    height: 125px;
  }
  footer .layout {
    height: 124px;
    top: -10px;
  }
}
