* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Bold.ttf");
  font-weight: 700;
}

body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  color: yellow;
}
.container {
  width: 1429px;
}
/* header */
header {
  width: 100%;
  height: 50px;
  background-color: black;
}

header .item {
  width: 200px;
  height: 48px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .item i {
  color: yellow;
}
/* header-top */
.header-top {
  position: relative;
}
.top {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  top: 0;
}
.top img {
  width: 180px;
  height: 60px;
  margin-top: 20px;
}
.top-option {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  line-height: 100px;
  font-weight: 600;
}
.top-option .item {
  width: 100%;
}
.top-option .item:hover {
  color: yellow;
  border-bottom: 7px solid yellow;
}
.top-option .item-more {
  width: 160px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 100px;
}
.top-option .item-more {
  display: none;
}
.top-option .item:hover > .item-more {
  display: block;
}
.top-option .item-more .more {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* top-banner */
.top-banner {
  position: absolute;
  width: 100%;
  bottom: 140px;
}
.top-banner .item {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  padding-left: 20px;
}
.top-banner .banner-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.top-banner .banner-img {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid yellow;
}
.header-top::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -28px;
  height: 126px;
  background: black;
  opacity: 0.3;
  clip-path: polygon(0% 0%, 0% 28%, 50.5% 100%, 100% 28%, 100% 0%, 50.5% 76%);
}

/* Main */
/* about */
.about {
  position: relative;
  margin-top: 50px;
}
.about .heading {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  border-left: 3px solid yellow;
}
.about .heading h2 {
  width: 35%;
  height: 100%;
  border-left: 7px solid yellow;
  margin-left: 3px;
  line-height: 50px;
  padding-left: 20px;
  font-weight: 600;
}
.about .heading .line {
  width: 300px;
  height: 2px;
  background-color: yellow;
  margin-top: 25px;
}
.about .description {
  width: 90%;
  height: 300px;
  padding-top: 50px;
}
.about .description .text {
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}
.about button {
  width: 163px;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  font-size: 13px;
  letter-spacing: 2px;
  background-image: linear-gradient(yellow, orange);
  color: white;
}

/* activity */
.activity {
  position: relative;
}
.activity .content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
}
.activity .content h1 {
  font-size: 50px;
  color: white;
}
.content .act-line {
  width: 500px;
  height: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.content .act-line .line {
  width: 150px;
  height: 2px;
  background-color: yellow;
  margin-top: 7px;
}
.content table {
  width: 1300px;
  margin-top: 30px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px black, -1px -1px 3px black;
}
table .title-table {
  height: 100px;
  border-top: 3px solid yellow;
  background-color: #ffffff8a;
  font-size: 18px;
}
table .activity-td {
  height: 70px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  border-left: 5px solid transparent;
}
table .activity-td:hover {
  border-left: 5px solid yellow;
  background-color: #f0ca9dcf;
}
.content .act-icon {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.content .act-icon .icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.content .act-icon .icon i {
  color: yellow;
}
.content .act-icon .icon:hover {
  color: white;
  background-image: linear-gradient(yellow, orange);
  border: none;
}
.activity .act-image {
  margin-top: 30px;
}
.activity .act-image .item {
  width: 100%;
  height: 300px;
}
.act-image .item img {
  height: 100%;
}
