* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.owl-carousel .item {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: aquamarine;
}
