* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.slick-prev {
  color: black;
  background-color: white;
}

.slide1 div {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: bisque;
}
