#footer {
  width: 100%;
  height: 340px;
  margin-top: 246px;
  background-color: rgba(23, 48, 92);
  position: relative;
  .footer-module {
    width: 100%;
    height: 100%;
    .item {
      width: 100%;
      height: 300px;
      margin-top: 37px;
      .main-content {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        img {
          width: 250px;
          height: 73px;
          margin-top: 25px;
          margin-left: 59px;
        }
        .text {
          margin-top: 16px;
          margin-left: 44px;
          font-size: 11px;
          width: 317px;
          color: #fff;
        }
        .note {
          margin-left: 47px;
          margin-top: 26px;
          font-size: 12px;
          color: #fff;
        }
      }
      .service {
        width: 100%;
        height: 100%;
        margin-left: 30px;
        .title {
          font-size: 20px;
          padding-top: 44px;
          padding-left: 5px;
          text-decoration: underline;
          margin-bottom: 29px;
          color: #fff;
        }
        .noidung {
          margin-top: 15px;
          font-size: 12px;
          color: #fff;
          margin-left: 4px;
        }
      }
      .service2 {
        width: 100%;
        height: 100%;
        margin-left: 64px;
        .title {
          font-size: 20px;
          padding-top: 44px;
          text-decoration: underline;
          margin-bottom: 29px;
          color: #fff;
        }
        .noidung {
          margin-top: 15px;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  .footer-details {
    width: 804px;
    height: 172px;
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    top: -137px;
    background: linear-gradient(
      to bottom,
      rgba(43, 241, 159),
      rgba(168, 232, 224),
      rgba(168, 232, 224),
      rgba(43, 241, 159)
    );
    border-radius: 10px;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      right: 0px;
      left: 3px;
      top: 3px;
      height: 167px;
      background: #fff;
      border-radius: 10px;
      width: 797px;
      z-index: 0;
    }
    .content {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      .title {
        text-align: center;
        font-size: 19px;
        margin-left: -16px;
        margin-top: 20px;
        color: rgba(80, 80, 99);
      }
      #footer-details {
        .owl-stage-outer {
          width: 490px;
          margin: 0 auto;
          height: 70px;
          margin-top: 25px;
          .owl-item {
            .item {
              width: 160px;
              height: 90px;
              background-color: #fff;
              box-shadow: 10px 1px 10px rgb(23 48 92 / 20%),
                0px 0px 8px rgb(23 48 92 / 20%);

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1350px) and (min-width: 1199px) {

}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
}
@media only screen and (max-width: 500px) and (min-width: 425px) {
}
@media only screen and (max-width: 425px) and (min-width: 320px) {
}
