* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  overflow: hidden;
}
#head {
  min-height: 810px;
  background-image: url("../../../../dist/images/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  .head-top {
    height: 33px;
    .main-content {
      width: 100%;
      display: flex;
      .head-left {
        width: 50%;
        display: flex;
        margin-top: 13px;
        i {
          font-size: 8px;
          color: #1ac667;
          margin-left: 23%;
          margin-right: 4px;
        }
        .hotline {
          font-size: 10px;
          font-style: italic;
          color: #2c4d86;
          line-height: 9px;
        }
      }
      .head-right {
        width: 50%;
        position: relative;
        top: 13px;
        input {
          width: 139px;
          height: 20px;
          border-radius: 20px;
          left: 50%;
          position: absolute;
          background-color: #fff;
          color: #fff;
          transform: translateX(-19%);
          top: -6px;
          &::placeholder {
            color: #2c4d86;
          }
        }
        .icon {
          position: absolute;
          right: 31%;
          top: -4px;
          width: 10px;
          i {
            margin-left: 0;
            margin-right: 0;
            color: #1ac667;
          }
        }
        .country {
          width: 34px;
          height: 22px;
          background: white;
          position: absolute;
          right: 21%;
          top: -7px;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 11px;
            width: 15px;
            margin-top: 0px;
            padding-left: 0px;
          }
          i {
            margin-left: 0px;
            font-size: 9px;
            color: black;
          }
          .country-scoll {
            display: none;
            background: white;
            width: 34px;
            height: 20px;
            position: absolute;
            top: 20px;
            .option {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

  .head-nav {
    box-shadow: none;
    .nav-content {
      display: flex;
      .logo {
        width: 30%;
        img {
          height: 46px;
          width: 188px;
          margin-left: 122px;
          margin-top: 13px;
        }
      }
      .nav {
        width: 70%;
        .show__menu {
          display: none;
        }
        .menu {
          margin-left: 53px;
          .menu-list {
            display: flex;
            margin-left: 22px;
            margin-top: 18px;
            width: 642px;
            gap: 2px;
            .menu-list__item {
              position: relative;
              width: 90px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              // .active {
              //   display: block;
              //   width: 81px;
              //   background-color: #1bcd8d;
              //   height: 27px;
              //   text-align: center;
              //   line-height: 27px;
              //   &::before {
              //     content: "";
              //     position: absolute;
              //     top: 0px;
              //     left: -40px;
              //     width: 40px;
              //     height: 1px;
              //     background-color: #1bcd8d;
              //     animation: topmove 1.5s infinite;
              //   }
              //   @keyframes topmove {
              //     from {
              //       left: -40px;
              //     }
              //     to {
              //       left: 90px;
              //     }
              //   }
              //   &::after {
              //     content: "";
              //     position: absolute;
              //     bottom: 0px;
              //     right: -60px;
              //     width: 60px;
              //     height: 1px;
              //     background-color: #1bcd8d;
              //     animation: bottom-move 1.8s infinite;
              //     // animation-delay: 2s;
              //   }
              //   @keyframes bottom-move {
              //     from {
              //       right: -60px;
              //     }
              //     to {
              //       right: 90px;
              //     }
              //   }
              // }
              &:hover {
                a {
                  color: #f0fcf7;
                  &::before {
                    content: "";
                    position: absolute;
                    bottom: -80px;
                    left: 0px;
                    width: 0.5px;
                    height: 40px;
                    background-color: #1bcd8d;
                    animation: leftmove 1.5s infinite;
                  }
                  @keyframes leftmove {
                    from {
                      bottom: -80px;
                    }
                    to {
                      bottom: 40px;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    top: -80px;
                    right: 0px;
                    width: 0.5px;
                    height: 40px;
                    background-color: #1bcd8d;
                    animation: rightmove 1.5s infinite;
                    animation-delay: 0.5s;
                  }
                  @keyframes rightmove {
                    from {
                      top: -80px;
                    }
                    to {
                      top: 35px;
                    }
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: -40px;
                  width: 40px;
                  height: 1px;
                  background-color: #1bcd8d;
                  animation: topmove 1.5s infinite;
                }
                @keyframes topmove {
                  from {
                    left: -40px;
                  }
                  to {
                    left: 90px;
                  }
                }
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0px;
                  right: -60px;
                  width: 60px;
                  height: 1px;
                  background-color: #1bcd8d;
                  animation: bottom-move 1.5s infinite;
                  animation-delay: 1s;
                }
                @keyframes bottom-move {
                  from {
                    right: -60px;
                  }
                  to {
                    right: 90px;
                  }
                }
              }
              a {
                width: 81px;
                text-decoration: none;
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                display: block;
                white-space: nowrap;
                height: 27px;
                line-height: 27px;
                text-align: center;
                &:hover {
                  background-color: #1bcd8d;
                  height: 27px;
                  width: 81px;
                }
                .active {
                  display: block;
                  width: 81px;
                  background-color: #1bcd8d;
                  height: 27px;
                  text-align: center;
                  line-height: 27px;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -40px;
                    width: 40px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: topmove 1.5s infinite;
                  }
                  @keyframes topmove {
                    from {
                      left: -40px;
                    }
                    to {
                      left: 90px;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: -60px;
                    width: 60px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: bottom-move 1.8s infinite;
                    // animation-delay: 2s;
                  }
                  @keyframes bottom-move {
                    from {
                      right: -60px;
                    }
                    to {
                      right: 90px;
                    }
                  }
                }
              }
            }
            .list-active {
              &::before {
                content: "";
                position: absolute;
                bottom: -80px;
                left: 0px;
                width: 0.5px;
                height: 40px;
                background-color: #1bcd8d;
                animation: leftmove 1.75s infinite;
                // animation-delay: 1s;
              }
              @keyframes leftmove {
                from {
                  bottom: -80px;
                }
                to {
                  bottom: 35px;
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: -80px;
                right: 0px;
                width: 0.5px;
                height: 40px;
                background-color: #1bcd8d;
                animation: rightmove 1.5s infinite;
                animation-delay: 0.35s;
              }
              @keyframes rightmove {
                from {
                  top: -80px;
                }
                to {
                  top: 35px;
                }
              }
            }
          }
        }
        .menu-respon {
          display: none;
        }
      }
    }
  }

  .head-banner {
    .banner {
      width: 40%;
      margin-left: 10%;
      margin-top: 13%;
      .title {
        width: 100%;
        text-align: unset;
        padding-top: 35px;
        font-size: 50px;
        font-weight: 600;
        padding-left: 10px;
        line-height: 1;
        color: #1d407d;
      }
      .description {
        font-size: 19px;
        font-weight: 500;
        padding-left: 9px;
        word-spacing: 3px;
        margin-top: 28px;
        width: 100%;
        text-align: unset;
        word-spacing: 3.6px;
        color: #1d407d;
      }
      button {
        margin-top: 28px;
        margin-left: 14px;
        width: 124px;
        height: 34px;
        font-size: 12px;
        color: white;
        background-color: #1bcd8d;
      }
    }
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1199px) {
  #head {
    .head-top {
      .main-content {
        width: 100%;
        display: flex;
        .head-left {
          i {
            margin-left: 8%;
          }
        }
      }
    }
    .head-nav {
      .nav-content {
        .logo {
          img {
            margin-left: 40px;
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 30%;
        margin-left: 3%;
        margin-top: 13%;
        .title {
          font-size: 40px;
        }
        .description {
          font-size: 18px;
          margin-top: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  #head {
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(45%);
          }
          .icon {
            right: 10%;
          }
          .country {
            right: -2%;
          }
        }
      }
    }
    .head-nav {
      background-color: white;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      height: 70px;
      .nav-content {
        .logo {
          img {
            margin-left: 40px;
          }
        }
        .nav {
          .menu {
            .menu-list {
              margin-left: 0;
              .menu-list__item {
                position: relative;
                width: 90px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                &:hover {
                  a {
                    color: #f0fcf7;
                    &::before {
                      content: "";
                      position: absolute;
                      bottom: -80px;
                      left: 0px;
                      width: 0.5px;
                      height: 40px;
                      background-color: #1bcd8d;
                      animation: leftmove 1.5s infinite;
                    }
                    @keyframes leftmove {
                      from {
                        bottom: -80px;
                      }
                      to {
                        bottom: 40px;
                      }
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      top: -80px;
                      right: 0px;
                      width: 0.5px;
                      height: 40px;
                      background-color: #1bcd8d;
                      animation: rightmove 1.5s infinite;
                      animation-delay: 0.5s;
                    }
                    @keyframes rightmove {
                      from {
                        top: -80px;
                      }
                      to {
                        top: 35px;
                      }
                    }
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -40px;
                    width: 40px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: topmove 1.5s infinite;
                  }
                  @keyframes topmove {
                    from {
                      left: -40px;
                    }
                    to {
                      left: 90px;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: -60px;
                    width: 60px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: bottom-move 1.5s infinite;
                    animation-delay: 1s;
                  }
                  @keyframes bottom-move {
                    from {
                      right: -60px;
                    }
                    to {
                      right: 90px;
                    }
                  }
                }
                a {
                  width: 81px;
                  text-decoration: none;
                  color: black;
                  font-size: 11px;
                  font-weight: 600;
                  display: block;
                  white-space: nowrap;
                  height: 27px;
                  line-height: 27px;
                  text-align: center;
                  &:hover {
                    background-color: #1bcd8d;
                    height: 27px;
                    width: 81px;
                  }
                  .active {
                    display: block;
                    width: 81px;
                    background-color: #1bcd8d;
                    height: 27px;
                    text-align: center;
                    color: white;
                    line-height: 27px;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 0px;
                      left: -40px;
                      width: 40px;
                      height: 1px;
                      background-color: #1bcd8d;
                      animation: topmove 1.5s infinite;
                    }
                    @keyframes topmove {
                      from {
                        left: -40px;
                      }
                      to {
                        left: 90px;
                      }
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 0px;
                      right: -60px;
                      width: 60px;
                      height: 1px;
                      background-color: #1bcd8d;
                      animation: bottom-move 1.8s infinite;
                      // animation-delay: 2s;
                    }
                    @keyframes bottom-move {
                      from {
                        right: -60px;
                      }
                      to {
                        right: 90px;
                      }
                    }
                  }
                }
              }
              .list-active {
                &::before {
                  content: "";
                  position: absolute;
                  bottom: -80px;
                  left: 0px;
                  width: 0.5px;
                  height: 40px;
                  background-color: #1bcd8d;
                  animation: leftmove 1.75s infinite;
                  // animation-delay: 1s;
                }
                @keyframes leftmove {
                  from {
                    bottom: -80px;
                  }
                  to {
                    bottom: 35px;
                  }
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: -80px;
                  right: 0px;
                  width: 0.5px;
                  height: 40px;
                  background-color: #1bcd8d;
                  animation: rightmove 1.5s infinite;
                  animation-delay: 0.35s;
                }
                @keyframes rightmove {
                  from {
                    top: -80px;
                  }
                  to {
                    top: 35px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 50%;
        margin-left: 33%;
        margin-top: 10%;
        .title {
          color: white;
        }
        .description {
          color: white;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) and (min-width: 767px) {
  #head {
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-32%);
          }
          .country {
            right: 12%;
          }
          .icon {
            right: 29%;
          }
        }
      }
    }
    .head-nav {
      background-color: white;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      height: 70px;
      .nav-content {
        .logo {
          img {
            margin-left: 40px;
            height: 35px;
            width: 130px;
            margin-top: 15px;
          }
        }
        .nav {
          .menu {
            .menu-list {
              margin-left: -55px;
              padding-left: 0;
              gap: 0;
              width: 490px;
              .menu-list__item {
                position: relative;
                width: 90px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                &:hover {
                  a {
                    color: #f0fcf7;
                    &::before {
                      content: "";
                      position: absolute;
                      bottom: -80px;
                      left: 0px;
                      width: 0.5px;
                      height: 40px;
                      background-color: #1bcd8d;
                      animation: leftmove 1.5s infinite;
                    }
                    @keyframes leftmove {
                      from {
                        bottom: -80px;
                      }
                      to {
                        bottom: 40px;
                      }
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      top: -80px;
                      right: 0px;
                      width: 0.5px;
                      height: 40px;
                      background-color: #1bcd8d;
                      animation: rightmove 1.5s infinite;
                      animation-delay: 0.5s;
                    }
                    @keyframes rightmove {
                      from {
                        top: -80px;
                      }
                      to {
                        top: 35px;
                      }
                    }
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -40px;
                    width: 40px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: topmove 1.5s infinite;
                  }
                  @keyframes topmove {
                    from {
                      left: -40px;
                    }
                    to {
                      left: 90px;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: -60px;
                    width: 60px;
                    height: 1px;
                    background-color: #1bcd8d;
                    animation: bottom-move 1.5s infinite;
                    animation-delay: 1s;
                  }
                  @keyframes bottom-move {
                    from {
                      right: -60px;
                    }
                    to {
                      right: 90px;
                    }
                  }
                }
                a {
                  width: 81px;
                  text-decoration: none;
                  color: black;
                  font-size: 11px;
                  font-weight: 600;
                  display: block;
                  white-space: nowrap;
                  height: 27px;
                  line-height: 27px;
                  text-align: center;
                  &:hover {
                    background-color: #1bcd8d;
                    height: 27px;
                    width: 81px;
                  }
                  .active {
                    display: block;
                    width: 81px;
                    background-color: #1bcd8d;
                    height: 27px;
                    text-align: center;
                    color: white;
                    line-height: 27px;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 0px;
                      left: -40px;
                      width: 40px;
                      height: 1px;
                      background-color: #1bcd8d;
                      animation: topmove 1.5s infinite;
                    }
                    @keyframes topmove {
                      from {
                        left: -40px;
                      }
                      to {
                        left: 90px;
                      }
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 0px;
                      right: -60px;
                      width: 60px;
                      height: 1px;
                      background-color: #1bcd8d;
                      animation: bottom-move 1.8s infinite;
                      // animation-delay: 2s;
                    }
                    @keyframes bottom-move {
                      from {
                        right: -60px;
                      }
                      to {
                        right: 90px;
                      }
                    }
                  }
                }
              }
              .list-active {
                &::before {
                  content: "";
                  position: absolute;
                  bottom: -80px;
                  left: 0px;
                  width: 0.5px;
                  height: 40px;
                  background-color: #1bcd8d;
                  animation: leftmove 1.75s infinite;
                  // animation-delay: 1s;
                }
                @keyframes leftmove {
                  from {
                    bottom: -80px;
                  }
                  to {
                    bottom: 35px;
                  }
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: -80px;
                  right: 0px;
                  width: 0.5px;
                  height: 40px;
                  background-color: #1bcd8d;
                  animation: rightmove 1.5s infinite;
                  animation-delay: 0.35s;
                }
                @keyframes rightmove {
                  from {
                    top: -80px;
                  }
                  to {
                    top: 35px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 60%;
        margin-left: 33%;
        margin-top: 10%;
        .title {
          color: white;
        }
        .description {
          color: white;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
  #head {
    min-height: 560px;
    background-position: bottom;
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-60%);
          }
          .country {
            right: 17%;
          }
          .icon {
            right: 37%;
          }
        }
      }
    }
    .head-nav {
      background-color: #fff;
      height: 100px;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      .nav-content {
        .logo {
          width: 50%;
          img {
            height: 45px;
            width: 140px;
            margin-left: 11%;
            margin-top: 20px;
          }
        }
        .nav {
          width: 50%;
          height: 100px;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          .menu {
            display: none;
          }
          .show__menu {
            display: block;
            font-size: 25px;
            margin-right: 17%;
          }
          .menu-respon {
            display: block;
          }
          .menu-respon {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -50%;
            animation: 5s;
            z-index: 20;
            .close__menu {
              position: absolute;
              right: 19px;
              top: 4px;
              font-size: 25px;
            }
            .menu-list {
              width: 100%;
              margin-top: 50px;
              .menu-list__item {
                margin-bottom: 20px;
                a {
                  font-size: 16px;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 70%;
        margin-left: 22%;
        margin-top: 0%;
        .title {
          color: #fff;
          font-size: 35px;
        }
        .description {
          color: #fff;
        }
        button {
          width: 150px;
          height: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
  #head {
    min-height: 560px;
    background-position: bottom;
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-70%);
          }
          .country {
            right: 17%;
          }
          .icon {
            right: 37%;
          }
        }
      }
    }
    .head-nav {
      background-color: #fff;
      height: 100px;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      .nav-content {
        .logo {
          width: 50%;
          img {
            height: 45px;
            width: 140px;
            margin-left: 11%;
            margin-top: 20px;
          }
        }
        .nav {
          width: 50%;
          height: 100px;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          .menu {
            display: none;
          }
          .show__menu {
            display: block;
            font-size: 25px;
            margin-right: 17%;
          }
          .menu-respon {
            display: block;
          }
          .menu-respon {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -50%;
            animation: 5s;
            z-index: 20;
            .close__menu {
              position: absolute;
              right: 19px;
              top: 4px;
              font-size: 25px;
            }
            .menu-list {
              width: 100%;
              margin-top: 50px;
              .menu-list__item {
                margin-bottom: 20px;
                a {
                  font-size: 16px;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 70%;
        margin-left: 22%;
        margin-top: 0%;
        .title {
          color: #fff;
          font-size: 35px;
        }
        .description {
          color: #fff;
        }
        button {
          width: 150px;
          height: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) and (min-width: 425px) {
  #head {
    min-height: 560px;
    background-position: center;
    background-size: cover;
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-76%);
            width: 125px;
          }
          .country {
            right: 17%;
          }
          .icon {
            right: 40%;
          }
        }
      }
    }
    .head-nav {
      background-color: #fff;
      height: 100px;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      .nav-content {
        .logo {
          width: 50%;
          img {
            height: 40px;
            width: 140px;
            margin-left: 11%;
            margin-top: 25px;
          }
        }
        .nav {
          width: 50%;
          height: 100px;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          .menu {
            display: none;
          }
          .show__menu {
            display: block;
            font-size: 25px;
            margin-right: 17%;
          }
          .menu-respon {
            display: block;
          }
          .menu-respon {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -50%;
            animation: 5s;
            z-index: 20;
            .close__menu {
              position: absolute;
              right: 19px;
              top: 4px;
              font-size: 25px;
            }
            .menu-list {
              width: 100%;
              margin-top: 50px;
              .menu-list__item {
                margin-bottom: 20px;
                a {
                  font-size: 16px;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 90%;
        margin-left: 12%;
        margin-top: 30px;
        .title {
          color: #fff;
          font-size: 35px;
        }
        .description {
          color: #fff;
        }
        button {
          width: 150px;
          height: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  #head {
    min-height: 560px;
    background-position: center;
    background-size: cover;
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-83%);
            width: 112px;
          }
          .country {
            right: 17%;
          }
          .icon {
            right: 45%;
          }
        }
      }
    }
    .head-nav {
      background-color: #fff;
      height: 100px;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      .nav-content {
        .logo {
          width: 50%;
          img {
            height: 40px;
            width: 140px;
            margin-left: 11%;
            margin-top: 25px;
          }
        }
        .nav {
          width: 50%;
          height: 100px;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          .menu {
            display: none;
          }
          .show__menu {
            display: block;
            font-size: 25px;
            margin-right: 17%;
          }
          .menu-respon {
            display: block;
          }
          .menu-respon {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -50%;
            animation: 5s;
            z-index: 20;
            .close__menu {
              position: absolute;
              right: 19px;
              top: 4px;
              font-size: 25px;
            }
            .menu-list {
              width: 100%;
              margin-top: 50px;
              .menu-list__item {
                margin-bottom: 20px;
                a {
                  font-size: 16px;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 90%;
        margin-left: 12%;
        margin-top: 30px;
        .title {
          color: #fff;
          font-size: 35px;
        }
        .description {
          color: #fff;
        }
        button {
          width: 150px;
          height: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) and (min-width: 320px) {
  #head {
    min-height: 560px;
    background-position: center;
    background-size: cover;
    .head-top {
      background-color: #1d407d;
      .main-content {
        .head-left {
          i {
            margin-left: 10%;
          }
          .hotline {
            color: white;
            white-space: nowrap;
          }
        }
        .head-right {
          input {
            transform: translateX(-83%);
            width: 112px;
          }
          .country {
            right: 10%;
          }
          .icon {
            right: 45%;
          }
        }
      }
    }
    .head-nav {
      background-color: #fff;
      height: 100px;
      box-shadow: 3px 5px 3px rgb(131, 151, 185, 0.18),
        0px 6px 2px rgb(131, 151, 185, 0.18);
      .nav-content {
        .logo {
          width: 50%;
          img {
            height: 40px;
            width: 140px;
            margin-left: 11%;
            margin-top: 25px;
          }
        }
        .nav {
          width: 50%;
          height: 100px;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          .menu {
            display: none;
          }
          .show__menu {
            display: block;
            font-size: 25px;
            margin-right: 17%;
          }
          .menu-respon {
            display: block;
          }
          .menu-respon {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: white;
            top: 0;
            left: -50%;
            animation: 5s;
            z-index: 20;
            .close__menu {
              position: absolute;
              right: 19px;
              top: 4px;
              font-size: 25px;
            }
            .menu-list {
              width: 100%;
              margin-top: 50px;
              .menu-list__item {
                margin-bottom: 20px;
                a {
                  font-size: 16px;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .head-banner {
      .banner {
        width: 100%;
        margin-left: 0%;
        margin-top: 30px;
        .title {
          color: #fff;
          font-size: 35px;
        }
        .description {
          color: #fff;
        }
        button {
          width: 150px;
          height: 50px;
        }
      }
    }
  }
}
