* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  width: 1439px;
  margin: 0 auto !important;
}
.header-top {
  background-color: rgb(29, 64, 125);
  height: 33px;
  .item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    i {
      font-size: 10px;
      color: #1ac667;
      margin-left: -165px;
      margin-right: 4px;
    }
    .hotline {
      font-size: 10px;
      font-style: italic;
      color: #d2d9e5;
      line-height: 9px;
    }
    input {
      width: 132px;
      height: 20px;
      margin-left: 158px;
      margin-top: -4px;
      border-radius: 20px;
      margin-right: 10px;
      background-color: #4a6697;
      color: white;

      &::placeholder {
        color: white;
      }
    }
    .icon {
      position: absolute;
      right: 53px;
      top: -2px;
    }
    .country {
      width: 34px;
      height: 20px;
      padding-left: 20px;
      margin-top: -3px;
      background: #4a6697;
      margin-right: 84px;
      img {
        height: 10px;
        margin-left: -18px;
        width: 20px;
        padding-left: 7px;
        margin-top: 1px;
      }
      i {
        margin-left: 3px;
        font-size: 9px;
        margin-top: 5px;
        position: absolute;
        color: white;
      }
      .country-scoll {
        width: 36px;
        background: #4a6697;
        margin-left: -20px;
        margin-top: 11px;
        height: 23px;
      }
    }
  }
}
