.fadeInLeft {
	animation: fadeInLeft .4s;
}

.fadeOutLeft {
	animation: fadeOutLeft .4s;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate(-5%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutLeft {
	from {
		opacity: 1;
		transform: translate(0, 0);
	}
	to {
		opacity: 0;
		transform: translate(-5%, 0);
	}
}