* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("./font/static/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  width: 1439px;
  margin: 0 auto;
}
/* header */
.header {
  width: 100%;
  height: 33px;
  background-color: rgb(29, 64, 125);
}
.header .item {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  line-height: 10px;
}
.header .item i {
  color: #1ba26d;
  font-size: 9px;
  margin-left: -81px;
  margin-right: 4px;
}
.header .item .hotline {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-style: italic;
}
.header .item input {
  width: 128px;
  height: 16px;
  margin-left: -51px;
  margin-top: -2px;
  border-radius: 20px;
  font-size: 10px;
  padding-left: 9px;
}
.header .item .icon {
  position: relative;
}
.header .icon i {
  position: absolute;
  right: 2px;
}
