* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  width: 1310px;
  margin: auto;
  position: relative;
  overflow: hidden;
  top: left right 0;
}
.nav {
  padding-bottom: 4px;
  display: flex;
  height: 50px;
}
.navbar-menu {
  width: 847px;
  height: 40px;
  margin-left: 20px;
}
.navbar-menu-item:hover .sub-menu {
  display: block;
}
.navbar-menu-item {
  float: left;
  margin: 5px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 15px;
  border: 1px solid #ccc;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  list-style-type: none;
}
.sub-menu {
  display: none;
}
.sub-menu-list {
  left: 0;
  right: 0;
  top: 30px;
  padding: 10px;
  display: flex;
  position: fixed;
  background: #fff;
  box-shadow: 0 4px 5px #ccc;
  border-top: 1px solid #eee;
  justify-content: space-around;
  gap: 10px;
  z-index: 1;
}

.sub-menu-item {
  height: 65px;
  width: 115px;
  position: relative;
  overflow: hidden;
}

.logo {
  display: block;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  padding-top: 64px;
  width: 1310px;
  margin: auto;
  position: relative;
  padding: 30px 0px;
  overflow: hidden;
}
.movie-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.movie {
  position: relative;
  width: 320px;
}
.btn-play,
.movie-info {
  position: absolute;
  size: 100%;
}
.btn-play {
  top: 10px;
  left: 5px;
}
.movie-thumbnail {
  width: 320px;
  height: 180px;
}
.movie-info {
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  color: white;
  padding: 30px 15px 10px;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.movie-tilte {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.movie-meta {
  display: flex;
  justify-content: space-between;
}
.movie-episode {
  display: block;
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chu-do {
  margin-bottom: 7px;
}
.news {
  display: flex;
  height: auto;
  width: 320px;
  float: left;
  margin-right: 10px;
}
.news-thumbnail {
  display: flex;
  height: 89px;
  width: 150px;
}
.news-meta {
  display: flex;
  width: 140px;
  height: 89px;
  overflow: hidden;
  float: right;
}
.news-link {
  gap: 5px;
}
.news-list {
  overflow: hidden;
  position: relative;
  width: 1320px;
  margin-bottom: 30px;
}

.trac-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.trac {
  position: relative;
  width: 210px;
}

.trac-thumbnail {
  width: 210px;
  height: 290px;
}
.trac-discription {
  background: transparent;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  bottom: 0;
  color: #eee;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 210px;
  z-index: 1;
}
.trac-tilte {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.trac-meta {
  display: flex;
  justify-content: space-between;
}

.cartoon-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.cartoon {
  position: relative;
  width: 320px;
}
.btn-play-cartoon,
.cartoon-info {
  position: absolute;
  size: 100%;
}
.btn-play-cartoon {
  top: 20px;
  left: 20px;
}
.cartoon-thumbnail {
  width: 320px;
  height: 180px;
}
.cartoon-info {
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  color: white;
  padding: 30px 15px 10px;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.cartoon-tilte {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.cartoon-meta {
  display: flex;
  justify-content: space-between;
}
.cartoon-episode {
  display: block;
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.demo {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.truyen-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.truyen {
  position: relative;
  width: 210px;
}

.truyen-thumbnail {
  width: 200px;
  height: 300px;
}
.truyen-discription {
  background: transparent;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  bottom: 0;
  color: #eee;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 1;
}
.truyen-tilte {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truyen-meta {
  display: flex;
  justify-content: space-between;
}
.demo2 {
  border-radius: 30px;
}
