* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.todo-app {
  margin-top: 30px;
  width: 100%;
}

.heading {
  text-align: center;
}

.item {
  margin-bottom: 10px;
}

.header-accordion {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  background-color: aqua;
}

.body-accordion {
  border: 1px solid aqua;
  padding: 15px;
}
