@font-face {
  font-family: OpenSans;
  src: url("../../../dist/fonts/OpenSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url("../../../dist/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../../../dist/fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url("../../../dist/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url("../../../dist/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
.about-us {
  .module-index {
    display: flex;
    .about-img {
      img {
        width: 500px;
        height: 353px;
        margin-left: 114px;
        margin-top: 45px;
      }
    }
    .content {
      margin-top: 50px;
      .about-header {
        width: 100%;
        .title {
          font-size: 36px;
          padding-left: 32px;
          padding-top: 29px;
          color: #1d407d;
        }
        .more {
          width: 100%;
          display: flex;
          margin-left: 55px;
          margin-top: 18px;
          img {
            width: 11px;
            height: 11px;
          }
          .line {
            width: 79px;
            height: 2px;
            background-color: #8397b9;
            margin-left: 6px;
            margin-top: 5px;
          }
        }
      }

      .about-content {
        margin-top: 38px;
        margin-left: 36px;
        .text {
          font-size: 12px;
          width: 390px;
          line-height: 1.9;
          margin-bottom: 27px;
          color: #1d407d;
        }
        button {
          width: 125px;
          height: 34px;
          margin-left: 3px;
          font-size: 12px;
          background-color: #1bcd8d;
          color: white;
        }
        h1 {
          margin-top: 4px;
          font-size: 77px;
          margin-left: -16px;
          color: green;
        }
      }
    }
  }
}
