* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.n9 {
  max-width: 450px;
  max-height: 550px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 5px;
}
.n3 {
  max-width: 432px;
  display: inline-block;
  margin: 10px;
  position: relative;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}
.container {
  background-color: transparent;
  overflow: visible;
  padding: 0;
  width: 400px;
}
.card-img {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 2;
  border: 0;
}
.card {
  margin-top: 0;
  padding-top: 10px;
  margin-left: 10px;
}
.card-tilte {
  font-family: SFProDisplay-Bold, Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}

.card-meta {
  font-family: SFProDisplay-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input[type="text"],
select {
  width: 195px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.text-space {
  display: flex;
  justify-content: space-around;
}
input[type="email"],
select {
  width: 410px;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 410px;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"],
select {
  width: 130px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  padding-left: 100px;
}
input[type="submit"] {
  width: 194px;
  height: 36px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.sex {
  position: relative;
}
.demo {
  border: 1px solid;
  box-sizing: border-box;
  display: inline-block;
  flex: 1 0 auto;
  font-weight: normal;
  height: 36px;
  margin: 8px 6px 6px;
  padding: 0;
  position: relative;
  width: 120px;
  border-radius: 5px;
  text-align: left;
}
.font-size {
  font-size: 12px;
  width: 340px;
}
.demo1 {
  margin-left: 10px;
}
