*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.snow_wrap {
  height: 100vh;
  width: 100%;
  background: url("../images/pic.jpg");
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  position: absolute;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
  background-size: 400px 400px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -200px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 6s;
  animation-direction: reverse;
}

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 9s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(650px);
  }
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 700px;
}
.year-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}
.year-text .text {
  display: inline-block;
  animation: fly 0.8s linear 0.5s infinite normal both;
}
.year-text .text:nth-child(1) {
  animation-delay: 0s;
}
.year-text .text:nth-child(2) {
  animation-delay: 0.15s;
}
.year-text .text:nth-child(3) {
  animation-delay: 0.25s;
}
.year-text .text:nth-child(4) {
  animation-delay: 0.35s;
}
.year-text .text:nth-child(5) {
  animation-delay: 0.45s;
}
.year-text .text:nth-child(6) {
  animation-delay: 0.55s;
}
.year-text .text:nth-child(7) {
  animation-delay: 0.65s;
}
.year-text .text:nth-child(8) {
  animation-delay: 0.75s;
}
.year-text .text:nth-child(9) {
  animation-delay: 0.85s;
}
.year-text .text:nth-child(10) {
  animation-delay: 0.95s;
}
.year-text .text:nth-child(11) {
  animation-delay: 1.05s;
}
.year-text .text:nth-child(12) {
  animation-delay: 1.15s;
}
.year-text .text:nth-child(13) {
  animation-delay: 1.25s;
}
.year-text .text:nth-child(14) {
  animation-delay: 1.35s;
}
.year-text .text:nth-child(15) {
  animation-delay: 1.45s;
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.container {
  width: 100vw;
  height: 50vh;
  display: flex;
}

.wrap {
  position: relative;
}

.heart {
  color: yellow;
  font-size: 50px;
  z-index: 2;
  animation: heart 2s linear 0s infinite both;
}

.heart-bg {
  position: absolute;
  color: yellow;
  font-size: 50px;
  top: 0;
  left: 0;

  animation: scale 2s linear 0s infinite;
}

@keyframes scale {
  from {
    transform: scale(1);
    opacity: 0.7;
  }

  80% {
    transform: scale(1);
    opacity: 0.3;
  }

  to {
    transform: scale(1.5);
    opacity: 0.1;
  }
}

@keyframes heart {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0 0 0 / 0%);
  }

  40% {
    transform: scale(1.4);
    text-shadow: 0 10px 25px rgba(0 0 0 / 30%);
  }

  50% {
    transform: scale(1.5);
    text-shadow: 0 10px 25px rgba(0 0 0 / 30%);
  }

  60% {
    transform: scale(1.4);
    text-shadow: 0 10px 25px rgba(0 0 0 / 30%);
  }

  80% {
    text-shadow: none;
  }

  to {
    transform: scale(1);
  }
}
.fixed {
  position: fixed;
  bottom: 50px;
  margin-left: 350px;
}
.fixed1 {
  position: fixed;
  top: 90px;
  padding-left: 550px;
}
.fixed2 {
  position: fixed;
  top: 100px;
  padding-left: 1000px;
}
.card {
  bottom: 100px;
  left: 650px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
