header .main {
  width: 80%;
  height: 30px;
  border-left: 2px solid #ee4d2d;
  padding-left: 25px;
  line-height: 30px;
  color: #ee4d2d;
  font-size: 20px;
}

.custom-item {
  width: 60%;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 10%;
}

.package {
  height: 130px;
  background-color: white;
  padding: 30px;
}

.shipping-address {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ee4d2d;
}

.shipping-address i {
  font-size: 24px;
  color: #ee4d2d;
  margin-right: 7px;
}

.address {
  color: blue;
  font-size: 18px;
}

.add {
  display: flex;
  gap: 20px;
  color: black !important;
}

.new-address {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #80808073;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.new-addres {
  width: 40%;
  height: 500px;
  background-color: white;
  padding: 30px;
  position: relative;
  margin: 0 auto;
}

.address-active {
  display: block;
  padding-top: 5%;
}

#location {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 120px;
}
.new-addres h3 {
  margin-bottom: 10px;
}

.new-addres input {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
}

.place {
  display: flex;
  gap: 10px;
}

.place select {
  width: 33%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 5px;
}

.cancle {
  width: 160px;
  height: 44px;
  border-radius: 20px;
  margin-right: 10px;
}

.complete {
  width: 160px;
  height: 44px;
  background: linear-gradient(90deg, #ff640e, #ff3000);
  color: #fff;
  border: none;
  border-radius: 20px;
}

.exit {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
}

.payment-method {
  margin-top: 10px;
  height: 112px;
  background-color: white;
  padding: 30px;
}

.payment-method h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.payment-method p {
  color: blue;
  font-size: 18px;
}

.add-new-cart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #80808073;
  z-index: 10;
  display: none;
}

.new-cart {
  width: 50%;
  height: 320px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}

.cart-active {
  display: block;
}

.new-cart h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.cart {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-left: unset;
}

.cart div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cart input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.date {
  display: flex;
  gap: 20px;
  width: 100%;
}

.month,
.year {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.CVV {
  width: 52%;
  display: flex;
  flex-direction: column;
}

.date input {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.save {
  width: 50%;
  margin-top: 20px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: #ee4d2d;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: none;
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.method {
  display: none;
}

.methods {
  display: flex;
  justify-content: space-between;
}

.methods .first {
  font-size: 18px;
}
.methods img {
  width: 27px;
  height: 18px;
  margin-right: 20px;
}

.block {
  display: block;
}

.none {
  display: none;
}
.change {
  font-size: 18px;
  color: blue;
}

.custom-products {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.product {
  display: flex;
  gap: 20px;
  margin-bottom: 7px;
  background-color: white;
  padding: 20px;
}

.product img {
  width: 120px;
  height: 120px;
}

.prod .title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.infor {
  display: flex;
  justify-content: space-between;
}

.prod .price {
  font-size: 16px;
  margin-bottom: 20px;
}

.prod .quantity {
  font-size: 16px;
}

.item {
  display: flex;
  gap: 30px;
}

.custom {
  width: 30%;
  margin-top: 10%;
}

.summary {
  width: 100%;
  height: 280px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.summary h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.total-item-cost,
.total-shipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.sum {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.place-order {
  width: 100%;
  height: 44px;
  background: linear-gradient(90deg, #ff640e, #ff3000);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.more {
  padding: 0 24px 16px;
  color: #999;
  font-size: 12px;
  text-align: center;
  background: #fff;
}

.more a {
  text-decoration: none;
  color: blue;
}

.keep-save {
  width: 100%;
  height: 130px;
  padding: 0px 24px;
  background-color: white;
}

.keep-save img {
  width: 105px;
  height: 22px;
  margin-top: 20px;
}

.keep-save p {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}

@media only screen and (min-width: 1350px) {
  .CVV {
    width: 55%;
  }
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .summary {
    height: 320px;
  }
  .keep-save {
    height: 150px;
  }
  .custom-item {
    margin-top: 12%;
  }
  .custom {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header {
    gap: 20px;
  }
  header .main {
    padding-left: 10px;
  }
  .prod .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .new-addres {
    width: 65%;
  }
  .package {
    height: 160px;
  }
  .new-cart {
    width: 60%;
    margin-top: 25%;
  }
  .CVV {
    width: 49%;
  }
  .custom-item {
    margin-top: 17%;
  }
  .custom {
    margin-top: 17%;
  }
}

@media only screen and (max-width: 769px) {
  .new-cart {
    width: 60%;
    margin-top: 20%;
  }
  .item {
    gap: 10px;
  }
  .custom-item {
    width: 65%;
    margin-top: 17%;
  }
  .custom {
    width: 34%;
    margin-top: 17%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-left: 20px;
  }
  .item {
    flex-direction: column;
    gap: unset;
  }
  .custom-item {
    width: 100%;
    margin-top: 20%;
    margin-bottom: unset;
  }
  .package {
    height: 140px;
  }
  .new-addres {
    width: 75%;
  }
  .new-cart {
    width: 70%;
  }
  .custom-products {
    margin-top: 10px;
  }
  .custom {
    width: 100%;
    margin-top: unset;
  }
  .summary {
    height: 100%;
    margin-bottom: 5px;
  }
  .keep-save {
    margin-bottom: 20px;
    height: 100%;
    padding: 16px 24px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .item {
    flex-direction: column;
    gap: unset;
  }
  .custom-item {
    width: 100%;
    margin-top: 25%;
    margin-bottom: unset;
  }
  .package {
    height: 155px;
  }
  .new-addres {
    width: 95%;
  }
  .new-cart {
    width: 85%;
  }
  .custom-products {
    margin-top: 10px;
  }
  .custom {
    width: 100%;
    margin-top: unset;
  }
  .summary {
    height: 100%;
    margin-bottom: 5px;
  }
  .keep-save {
    margin-bottom: 20px;
    height: 100%;
    padding: 16px 24px;
  }
}

@media only screen and (max-width: 450px) {
  header {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .item {
    flex-direction: column;
    gap: unset;
  }
  .custom-item {
    width: 100%;
    margin-top: 30%;
    margin-bottom: unset;
  }
  .package {
    height: 150px;
  }
  .new-addres {
    width: 95%;
  }
  .new-cart {
    width: 90%;
    margin-top: 30%;
  }
  .custom-products {
    margin-top: 10px;
  }
  .custom {
    width: 100%;
    margin-top: unset;
  }
  .summary {
    height: 100%;
    margin-bottom: 5px;
  }
  .keep-save {
    margin-bottom: 20px;
    height: 100%;
    padding: 16px 24px;
  }
}

@media only screen and (max-width: 425px) {
  .new-addres {
    overflow-y: scroll;
    margin-top: 25px;
  }
  .button {
    display: flex;
  }
  .place {
    flex-direction: column;
  }
  .place select {
    width: 100%;
    margin-bottom: 10px;
  }
  .package {
    height: 160px;
  }
  .new-cart {
    width: 90%;
    margin-top: 30%;
  }
  .add p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 376px) {
  .prod .title {
    margin-bottom: 10px;
  }
  .infor {
    flex-direction: column;
  }
  .prod .price {
    margin-bottom: 10px;
  }
  .prod .quantity {
    margin-bottom: 10px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
  .new-cart h3 {
    margin-top: 20px;
  }
  .cart {
    gap: 10px;
  }
  .date {
    gap: 10px;
  }
  .CVV {
    width: 53%;
  }
  .save {
    width: 70%;
  }
}
