footer {
  margin-top: 70px;
  background-color: #ffffff9c;
}

.site-server {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.site {
  width: 100%;
  height: 228px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.site img {
  width: 28px;
  height: 28px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.site h4 {
  font-size: 18px;
  text-align: center;
}

.site p {
  width: 100%;
  text-align: center;
}
