footer {
  background-color: white;
}

.site-server {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 30px 0;
}

.site {
  width: 100%;
  height: 228px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.site img {
  width: 28px;
  height: 28px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.site h4 {
  font-size: 18px;
  text-align: center;
}

.site p {
  text-align: center;
  line-height: 18px;
  color: #999;
  padding: 0 15px;
  font-size: 12px;
}

.site p a {
  text-decoration: none;
  color: black;
}

.user-helper {
  display: flex;
  padding: 40px;
}

.connected {
  width: 40%;
}

.connected h3 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.connected img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.contact {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.contact-us h3 {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.contact-us ul {
  list-style: none;
  margin-top: 10px;
}

.contact-us li {
  margin-bottom: 5px;
}

.contact-us ul a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .site-server {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contact-us li {
    margin-bottom: 10px;
  }
  .contact {
    gap: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .site-server {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-us li {
    margin-bottom: 10px;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .site-server {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .user-helper {
    display: flex;
    padding: 40px;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .contact {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .connected {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    width: 100%;
  }
  .site-server {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .user-helper {
    display: flex;
    padding: 40px;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .contact {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .connected {
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    width: 100%;
  }
  .site-server {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .user-helper {
    display: flex;
    padding: 40px;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .contact {
    width: 100%;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
  }
  .connected {
    width: 100%;
  }
}
