* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #22222221;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-top: 30px;
  position: fixed;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-favicon {
  width: 170px;
  height: 40px;
  overflow: hidden;
  background-image: url(../image/398x92.png);
  background-size: cover;
}

.shopping {
  width: 60%;
  height: 35px;
  line-height: 35px;
  display: flex;
}

/* Search */
.search {
  width: 70%;
  position: relative;
}

.search input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid #ff4747;
  border-radius: 5px;
}

.find {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #ff4747;
  border: none;
}

.find i {
  color: white;
}

/* Cart */
.cart {
  margin-left: 20px;
  position: relative;
}

.cart i {
  font-size: 24px;
  padding-top: 5px;
}
.cart .number {
  position: absolute;
  top: 2px;
  right: -6px;
  width: 15px;
  height: 15px;
  background-color: red;
  text-align: center;
  line-height: 15px;
  border-radius: 100%;
  color: white;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px !important;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px !important;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
  }
  .header-favicon {
    width: 130px;
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }
  .header-favicon {
    width: 100px;
    height: 23px;
  }

  .search {
    width: 85%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100% !important;
  }
  header {
    padding-top: 10px;
  }

  .header {
    flex-direction: column;
  }
  .header-favicon {
    width: 130px;
    height: 30px;
  }
  .shopping {
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
  }

  .cart {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 321px) {
  .container {
    width: 100% !important;
  }
  header {
    padding-top: 10px;
  }

  .header {
    flex-direction: column;
  }
  .header-favicon {
    width: 130px;
    height: 30px;
  }
  .shopping {
    margin-top: 10px;
    width: 100%;
    margin-left: 20px;
  }

  .search {
    width: 80%;
  }
  .cart {
    margin-left: 10px;
  }
}
