.more-to-love {
  margin-top: 50px;
}

.more-to-love h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.content-item {
  width: 190px;
  height: 330px;
  background-color: #ffffff9c;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.content-item:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
}

.content-item img {
  width: 100%;
}

.content-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-item {
  padding: 5px;
}

.product-item .item-price {
  display: flex;
  line-height: 30px;
  font-weight: 800;
}

.sale-off {
  font-size: 14px;
  color: red;
  margin-bottom: 5px;
}

.sold {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3px;
  font-size: 13px;
}

.sold img {
  width: 11px;
  height: 11px;
}

.discription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.shipping {
  font-size: 16px;
  color: rgb(0, 153, 102);
}

.after-price {
  font-size: 20px;
  color: red;
  margin-right: 10px;
}

.befor-price {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
}

.choice {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.choice img {
  width: 54px;
  height: 15px;
}

.content-item {
  display: block;
  transition: 0.7s ease-in-out;
}

.content-item:hover {
  transform: scale(1.2);
  z-index: 6;
  background-color: white;
  height: 370px;
}

.content-item:hover .content-button {
  display: block;
}

.content-button {
  position: absolute;
  bottom: 10px;
  display: none;
}

.content-button .like {
  width: 28px;
  height: 28px;
  border: none;
  background-color: white;
}

.content-button .add-to-cart {
  width: 100px;
  height: 30px;
  background-color: #ffe6e7;
  color: #fd384f;
  border-radius: 20px;
  border: none;
}

.content-button .add-to-cart:hover {
  background: #e4cdce;
  border-color: #e4cdce;
  color: #e23246;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px !important;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px !important;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
  }

  .main-content {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px !important;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100% !important;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 335px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 10px !important;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 335px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 10px !important;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 190px;
    height: 330px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 320px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 321px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 135px;
    height: 300px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
}
