* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-top: 30px;
  position: relative !important;
  border-bottom: 5px solid #00000036;
}

.order-summary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 25px 0px;
}

.orders {
  width: 60%;
  height: 100%;
}

.orders h1 {
  padding: 16px 24px;
  background-color: white;
}

.cart-combine {
  padding: 16px 24px;
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #ffeeef;
  color: #fd384f;
  font-size: 18px;
  font-weight: 700;
}

.order {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.checkbox-inline {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox-inline:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-inline input:checked ~ .checkmark {
  background-color: #fd384f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-inline input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-inline .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.order img {
  width: 120px;
  height: 120px;
}

.order-detail p {
  font-size: 16px;
  font-weight: 500;
}

.order-detail .order-cost {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 700;
}

.order-detail .shipping {
  font-size: 14px;
  color: rgb(0, 153, 102);
}

.to-summary {
  display: flex;
  justify-content: space-between;
}

.quantities {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.quantities button {
  width: 24px;
  height: 24px;
  font-size: 18px;
}

.quantities .quantity {
  line-height: 24px;
}

.size-ring {
  display: flex;
  align-items: center;
  gap: 5px;
}

.size-ring-active {
  background-color: #ff4747;
  color: white;
}

.size-ring button {
  width: 38px;
  height: 24px;
  border-radius: 10px;
  border: none;
}

.delete {
  margin-top: 3px;
  height: 30px;
  width: 24px;
  font-size: 24px;
  border: none;
  background-color: white;
}

.summary {
  width: 40%;
  height: 100%;
}

.sum {
  background-color: white;
  width: 100%;
  height: 173px;
  padding: 20px 30px;
}

.sum .total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sum .submit {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  background-color: #fd384f;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}

.payment-method {
  margin-top: 10px;
  width: 100%;
  height: 203px;
  background-color: white;
  padding: 16px 24px;
}

.payment-method .image {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.payment-method .image img {
  width: auto;
  height: 24px;
  margin-top: 10px;
}

.payment-method p {
  height: 41px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.payment-method p img {
  width: 22px;
  height: 21px;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .order {
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .order-detail p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .size-ring {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .orders h1 {
    font-size: 18px;
  }
  .cart-combine {
    font-size: 14px;
  }
  .order img {
    width: 90px;
    height: 90px;
  }
  .order-detail p {
    font-size: 14px;
  }
  .order-detail .order-cost {
    font-size: 14px;
  }
  .shipping {
    font-size: 12px;
  }
  .sum {
    height: 100%;
  }
  .summary h1 {
    font-size: 18px;
  }
  .sum .submit {
    height: 34px;
    font-size: 14px;
  }
  .payment-method h2 {
    font-size: 16px;
  }
  .payment-method {
    height: 100%;
  }
  .payment-method .image {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .payment-method p {
    font-size: 14px;
  }
  .size-ring {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .size-ring button {
    width: 48px;
    height: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .orders h1 {
    font-size: 18px;
  }
  .cart-combine {
    font-size: 14px;
  }
  .order img {
    width: 90px;
    height: 90px;
  }
  .order-detail p {
    font-size: 14px;
  }
  .order-detail .order-cost {
    font-size: 14px;
  }
  .shipping {
    font-size: 12px;
  }
  .sum {
    height: 100%;
  }
  .summary h1 {
    font-size: 18px;
  }
  .sum .submit {
    height: 34px;
    font-size: 14px;
  }
  .payment-method h2 {
    font-size: 16px;
  }
  .payment-method {
    height: 100%;
  }
  .payment-method .image {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .payment-method p {
    font-size: 14px;
  }
  .size-ring {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .size-ring button {
    width: 40px;
    height: 32px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 100%;
  }
  .order-summary {
    display: flex;
    flex-direction: column;
  }
  .orders {
    width: 90%;
    margin: 0 auto;
  }
  .summary {
    width: 75%;
    margin: 0 auto;
  }
  .sum .submit {
    height: 40px;
  }
  .payment-method h2 {
    font-size: 18px;
  }
  .size-ring button {
    width: 48px;
    height: 35px;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    width: 100%;
  }
  .summary {
    width: 90%;
    margin: 0 auto;
  }
  .order-detail p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .size-ring {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .size-ring button {
    width: 40px;
    height: 32px;
  }
}
