* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-main .header-main-left,
.header-main .header-main-center,
.header-main .header-main-right {
  height: 50px;
}
/* Header all */
.header {
  width: 100%;
}
.header-top {
  background-color: black;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-btn {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
}
.description-header {
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
}
.description-header a {
  color: white;
  font-weight: bold;
}

.header-main {
  width: 100%;
  height: 100px;
  background-color: white;
}

body .container {
  max-width: 1440px;
}

.header-main .row {
  height: 50px;
}
.contact-header-left {
  display: flex;
  align-items: center;
  height: 50px;
}

.contact-header-left li {
  list-style: none;
  margin-right: 8px;
  font-size: 14px;
}

/* Header Center */
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-center .logo {
  width: 232px;
  height: 27px;
  object-fit: cover;
  padding-top: 10px;
}

.header-center .logo img {
  object-fit: cover;
  max-height: 27px;
}

/* Header Right */
.header-right {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.wrap-search {
  min-width: 250px;
  position: relative;
}

.wrap-cart {
  width: 100px;
}

.header-right input {
  background-color: white;
  border: unset;
  border-bottom: 1px solid #ddd;
  min-width: 100%;
}

.header-right .wrap-search i {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.header-main .header-right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: unset;
}
.header-main ul li {
  list-style: none;
}

.add-to-cart {
  position: relative;
}

.add-to-cart span {
  position: absolute;
  font-size: 13px;
  top: -6px;
  left: -5px;
  border-radius: 100%;
  background-color: red;
  width: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Bottom */
.header-bottom {
  height: 30px;
}
.header-bottom ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: unset;
  padding: unset;
}

.header-bottom ul li {
  list-style: none;
}

.header-bottom ul li a {
  font-size: 15px;
  color: #414144;
  text-decoration: none;
}

.menu .menu-item {
  display: flex;
}
.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

.sub-menu {
  position: absolute;
  display: none;
  top: 100%;
  width: 200px;
  right: 0;
  left: 0;
  background: white;
  z-index: 100;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 0px 1px;
  text-align: center;
}

.menu-item ul {
  width: 200px;
  display: none;
  flex-direction: column;
}
.menu-item:hover .sub-menu {
  display: flex;
}

.sub-sub-menu {
  position: absolute;
  display: none;
  top: 100%;
  width: 200px;
  right: 0;
  left: 0;
  margin-left: 200px;
  background: white;
  z-index: 100;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 0px 1px;
  text-align: center;
}

.sub-sub-item {
  display: flex;
  justify-content: space-evenly;
}
.menu-item tr td th {
  width: 200px;
  display: none;
  flex-direction: column;
}
.menu-item:hover .sub-sub-menu {
  display: flex;
}

.sub-sub-items {
  width: 25px;
  height: 25px;
}

.sub-sub-items:hover {
  background-color: black;
  color: white;
  border-radius: 100%;
}

/* Header Ads */
.header-ads {
  height: 38px;
  background-color: gray;
  width: 100%;
  margin-top: 15px;
}

.banner {
  margin-top: 30px;
  height: 500px;
}

/* List Category Main */
.list-category-main {
  width: 100%;
  position: relative;
  top: -110px;
  z-index: 2;
}

.list-category-main .container {
  height: 500px;
  max-width: 1300px;
  background-color: white;
  padding: 30px 60px;
  border-left: 1px solid rgba(234, 233, 233, 0.804);
  border-right: 1px solid rgba(234, 233, 233, 0.804);
  border-bottom: 1px solid rgba(234, 233, 233, 0.804);
  margin-bottom: 20px;
}

.list-category-main .container .item {
  height: 100px;
  margin-bottom: 30px;
}

.list-category-main .container .item {
  margin-top: 50px;
  text-align: center;
}
.feature-daily a {
  text-decoration: none;
  color: black;
}

.feature-daily a:hover {
  text-decoration: underline;
}

.featuredaily-p {
  height: 60px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  margin: 0;
}
.featuredaily-description,
.daily-update,
.daily-final {
  height: 20px;
  width: 230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
.featuredaily-description {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

/* name-category */
.name-category {
  height: 50px;
  position: relative;
  top: -110px;
  z-index: 2;
}

.name-category {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.name-category .btn-category {
  width: 250px;
  background-color: black;
  color: white;
}

.name-category a {
  text-decoration: none;
  color: black;
}
.btn-category:hover {
  background-color: white;
  color: black;
}
/* Feature Daily Deals */
.feature-daily .container {
  height: 750px;
  background-color: #f3f4f6;
}

.wrap-tilte {
  padding-top: 25px;
  text-align: center;
  align-items: center;
}

h2 .btn-title {
  font-size: 18px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}
.btn-title {
  width: 250px;
  background-color: black;
  color: white;
}

.btn-title:hover {
  background-color: white;
  color: black;
}

.feature-daily .item {
  height: 550px;
  margin-top: 20px;
  background-color: white;
}

.feature-daily .row .item:hover {
  position: relative;
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: -10px;
  }
}
/* Feature Daily Current */
.feature-daily-current .item {
  height: 300px;
  margin-top: 30px;
}

.feature-daily-current img {
  width: 216px;
  height: 225px;
}

.current-description {
  height: 90px;
  width: 216px;
  text-align: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.feature-daily-current a {
  text-decoration: none;
  color: black;
}
/* Limit Time Offer */
.limit-time .btn-title {
  margin-bottom: 20px;
}

.limit-time h3 {
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 23px;
}

.limit-time h4 {
  text-align: center;
  font-size: 18px;
}

.limit-time a {
  text-decoration: none;
  color: black;
}
.limit-time .owl-nav {
  display: flex;
  justify-content: space-between;
}
.limit-time .owl-nav button {
  width: 50px;
  height: 70px;
  position: relative;
  z-index: 99;
  top: -300px;
}

#limit-time .owl-prev {
  font-size: 50px;
  background-color: #00000042;
  color: white;
}

#limit-time .owl-next {
  font-size: 50px;
  background-color: #00000042;
  color: white;
}

/* Weekly Deals */
.weekly-deal .wrap-tilte {
  margin-bottom: 20px;
}
.item-weekly-deals {
  height: 500px;
  width: 100%;
  margin-bottom: 30px;
}
.item-weekly {
  height: 500px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.weekly-content {
  background-color: rgba(240, 240, 240, 0.9);
  width: 50%;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.img-weekly {
  width: 70%;
  position: absolute;
  z-index: 1;
}

.img-weekly img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.weekly {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.weekly-box {
  height: 15px;
  width: 200px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.weekly-deal .button {
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border: 1px solid rgb(204, 0, 0);
  color: rgb(204, 0, 0);
}

.weekly-deal button:hover {
  background-color: rgb(204, 0, 0);
  color: white;
}

.weekly-contents {
  background-color: rgba(240, 240, 240, 0.9);
  width: 50%;
  height: 478px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.weekly-deal .image-weekly img {
  position: absolute;
  right: 0;
}

.weekly-deal .item-weekly .week {
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* Sales and Events */
.sales-and-events .wrap-tilte {
  margin-bottom: 20px;
}
.sales-and-events .item {
  height: 500px;
  width: 100%;
}

.sales-and-events .item img {
  width: 575px;
  height: 450px;
}

.sales-and-events .item a {
  list-style: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 6px;
  text-decoration: underline;
}

.sales-and-events .item p {
  font-size: 13px;
  margin-bottom: 0;
  max-width: 210px;
}

.sales-and-events .item-chil {
  height: 235px;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 13px;
}

.sales-and-events .item-chil img {
  width: 230px;
  height: 190px;
}

.sales-and-events .item-chil a {
  list-style: none;
  color: #000;
  font-weight: 600;
}

.sales-and-events .item-chil p {
  font-size: 13px;
  margin-bottom: 0;
  max-width: 210px;
}

/* Latest Blog Posts */
.lastest-blog-posts .wrap-tilte {
  margin-bottom: 20px;
}

.lastest-blog-posts .item {
  width: 100%;
  height: 450px;
}

.lastest-blog-posts .item img {
  width: 455px;
  height: 250px;
}

.lastest-blog-posts .item a {
  text-decoration: none;
  color: black;
}
.lastest-blog-posts .post-sub {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.lastest-blog-posts .post-description {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 10px;
}

.lastest-blog-posts .post-details {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #414c5c;
  display: -webkit-box;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Footer */
.footer {
  background-color: black;
  height: 500px;
  width: 100%;
  padding: 50px 0;
}

.footer .item {
  height: 400px;
  background-color: white;
}

.mobile-cart,
.search-mobile,
.open-btn,
.logo-mobile {
  display: none;
}
.wrap-menu-mobile p {
  display: none;
}
/* Responsive */
/* Kích thước màn hình: pc, laptop, tablet, mobile */
/* Responsive:
    + Desktop first: Kích thước màn hình từ to xuống nhỏ từ pc -> mobile
    + Mobile first: Kích thước màn hình từ nhỏ lên to từ mobile -> pc
 */

/* Giao diện vừa làm là từ 1280px trở lên -> pc+ desktop*/
@media screen and (max-width: 1023px) {
  /* Giao diện tablet xoay ngang và tablet dọc */
  .header-top {
    justify-content: center;
  }

  .header-btn {
    display: none;
  }

  .contact-header-left,
  .logo,
  .wrap-search,
  .wrap-cart {
    display: none;
  }

  .wrap-menu-mobile p {
    display: block;
  }
  .search-mobile,
  .open-btn,
  .logo-mobile {
    display: block;
  }
  .mobile-cart {
    display: block;
    position: relative;
  }
  .mobile-cart span {
    position: absolute;
    top: -4px;
    left: -6px;
    background-color: red;
    font-size: 13px;
    width: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-mobile {
    min-width: 250px;
    position: relative;
  }
  .search-mobile input {
    width: 98%;
    position: absolute;
    margin-left: 10px;
    padding-left: 5px;
    border: 1px solid rgba(194, 192, 192, 0.358);
  }
  .search-mobile i {
    top: 6px;
    position: absolute;
    right: 35px;
  }
  .logo-mobile img {
    width: 130px;
    height: 100%;
    padding-top: 20px;
  }
  .open-btn {
    border: none;
    margin-top: 10px;
  }
  .wrap-menu-mobile {
    background-color: blue;
    width: 70%;
    position: fixed;
    z-index: 999;
    height: 100%;
    top: 0;
    left: -70%;
    transition: 1s;
  }
  .menu-mobile {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
}
