* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-main .header-main-left,
.header-main .header-main-center,
.header-main .header-main-right {
  height: 50px;
}
/* Header all */
.header {
  height: 200px;
  width: 100%;
}
.header-top {
  background-color: black;
  height: 40px;
  width: 100%;
}
.description-header {
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
}
.description-header a {
  color: white;
  font-weight: bold;
}

.header-main {
  width: 100%;
  height: 100px;
  background-color: white;
}

body .container {
  max-width: 1440px;
  height: 100px;
}

.header-main .row {
  height: 50px;
}
.contact-header-left {
  display: flex;
  align-items: center;
  height: 50px;
}

.contact-header-left li {
  list-style: none;
  margin-right: 8px;
  font-size: 14px;
}

/* Header Center */
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-center .logo {
  width: 232px;
  height: 27px;
  object-fit: cover;
  padding-top: 10px;
}

.header-center .logo img {
  object-fit: cover;
  max-height: 27px;
}

/* Header Right */
.header-right {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.wrap-search {
  min-width: 250px;
  position: relative;
}

.wrap-cart {
  width: 100px;
}

.header-right input {
  background-color: white;
  border: unset;
  border-bottom: 1px solid #ddd;
  min-width: 100%;
}

.header-right .wrap-search i {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.header-main .header-right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: unset;
}
.header-main ul li {
  list-style: none;
}

.add-to-cart {
  position: relative;
}

.add-to-cart span {
  position: absolute;
  font-size: 13px;
  top: -6px;
  left: -5px;
  border-radius: 100%;
  background-color: red;
  width: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Bottom */
.header-bottom {
  height: 30px;
}
.header-bottom ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: unset;
  padding: unset;
}

.header-bottom ul li {
  list-style: none;
}

.header-bottom ul li a {
  font-size: 15px;
  color: #414144;
  text-decoration: none;
}

/* Header Ads */
.header-ads {
  height: 38px;
  background-color: gray;
  width: 100%;
  margin-top: 15px;
}
.menu .menu-item {
  display: flex;
}
.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

.sub-menu {
  position: absolute;
  display: none;
  top: 100%;
  width: 200px;
  left: 0;
  background: white;
  z-index: 100;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 0px 1px;
  text-align: center;
}

.menu-item ul {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.menu-item:hover .sub-menu {
  display: flex;
}
